.DS_Store
.idea
*.pyc
web/static/*
web/media/*

op_associazione.db.000
op_associazione.db
data.json

easycms/migrations/
migrations/

settings_staging.py
settings_local.py
settings_prod.py
urls_staging.py
urls_local.py
urls_prod.py
apache
site-packages

soci.sql
transfer_dati_soci.py
