{% extends "easycms/page.html" %}

{% block title %} - {{page.title}} {% endblock %}

{% block content_header %}
  
    {% if page.title_slug ==  'camere-aperte' %}
      <img src="/static/img/icons/dossier_camere_aperte.png" id="dossier-logo" alt="Dossier Camere Aperte" />
    {% else %}
      <img src="/static/img/icons/minidossier.png" id="dossier-logo" alt="MiniDossier di OpenPolis" />
    {% endif %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block payoff %}
<div class="container">
    <div class="row">
      <div class="span12">
          <ul class="breadcrumb">
              <li class="first">Dossier</li><span class="divider">/</span>
              <li>{{ page.title }}</li>
          </ul>
      </div>
    </div>
</div>
{% endblock %}

{% block content_footer %}

    {% for link in page.links.all %}
      <a href="{{ link.url }}" class="button-{{ link.icon }}">{{ link.text|safe }}</a>
    {% endfor %}

{% endblock %}

{% block css_styles %}
  {{ block.super }}
  <style type="text/css">
      article#main header { letter-spacing: -1px; }
      article#main header h1 { margin-top:0px;  }
      article#main header h2 { color:#333; font-size:20px; }
    
    
  </style>
{% endblock %}