{% extends "easycms/page.html" %}
{% load cms_extras %}


{% block sidebar %}
    <aside id="biopictures">
        {% for aside in asides %}
        <div class="popoverable" rel="popover" data-content="{{aside.text}}" data-original-title="{{aside.author}}"><img src="{{ aside.url }}" alt="{{ aside.author }}" /></div>
        {% endfor %}
    </aside>
{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script>
    $(function() {
        $( "#biopictures .popoverable" ).popover({
            placement: "left",
        });
        $( ".popoverable" ).popover({
            placement: "right",
        });
    });
    </script>
{% endblock %}
