{% extends "layout.html" %}
{% block article %}{% endblock %}

{% block payoff %}
<section id="payoff" class="container-fluid">

  <div class="container">
    <div id="claim" class="row">
        <div id="splash" class="span11 offset1">
            <a href="{% url subscribe %}" id="subscribe_link"></a>
            <img src="/static/img/payoff/slogan_homepage.png" alt="Colleghiamo i dati per fare trasparenza, li distribuiamo per innescare partecipazione. Costruiamo strumenti liberi e gratuiti per 'aprire la politica'. Sostienici: associati ad Openpolis!" />
        </div>
    </div>            
    <div id="texts" class="row">
        <div class="span3">
            <a href="http://indice.openpolis.it"><img src="/static/img/logos/logo-indice.png" alt="Indice di produttività parlamentare" title="Indice di produttività parlamentare" class="sublogo" /></a>
            <p style="margin:0">
            Quantità ed efficacia dell'attività dei parlamentari dall'inizio della legislatura ad oggi nel rapporto Camere Aperte 2013.
            </p>
        </div>
        <div class="span3">
            <a href="http://www.openmunicipio.it"><img src="/static/img/logos/logo-openmunicipio.png" alt="Open municipio" title="Open municipio" class="sublogo" /></a>
            <p>
                <a href="http://www.openmunicipio.it">La piattaforma web nazionale</a>  per monitorare, informarsi e partecipare alla vita politica della propria città. (Con dati politico-amministrativi ufficiali dei comuni aderenti)
            </p>
        </div>
        <div class="span3">
            <a href="http://politici.openpolis.it"><img src="/static/img/logos/logo-openpolitici.png" alt="Open Politici" title="Open Politici" class="sublogo" /></a>
            <p>
            <a href="http://politici.openpolis.it">La piattaforma web</a> per conoscere, monitorare e seguire i politici eletti, dal <strong>più piccolo comune al parlamento europeo</strong>. (Con dati ufficiali del Ministero dell'Interno, Parlamento italiano)
            
            </p>                        
        </div>
        <div class="span3 last">
            <a href="http://parlamento.openpolis.it"><img src="/static/img/logos/logo-parlamento.png" alt="Open parlamento" title="Open parlamento" class="sublogo" /></a>
            <p>
            <a href="http://parlamento.openpolis.it">La piattaforma web</a> per informarsi, monitorare e intervenire nei lavori quotidiani del <strong>parlamento italiano</strong>. 
        (Con dati ufficiali del Ministero dell’Interno, Camera e Senato) <br />
            
            </p>
        </div>
    </div>
    <div id="arrows" class="row-fluid">
        <div class="span3"><a href="http://indice.openpolis.it" class="arrow"><img src="/static/img/arrows/arrow-green.png" alt="Vai su Indice di Produttività parlamentare" /></a></div>
        <div class="span3"><a href="http://www.openmunicipio.it" class="arrow"><img src="/static/img/arrows/arrow-gray.png" alt="Vai su Open municipio" /></a></div>
        <div class="span3"><a href="http://politici.openpolis.it" class="arrow"><img src="/static/img/arrows/arrow-orange.png" alt="Vai su Open Politici" /></a></div>
        <div class="span3"><a href="http://parlamento.openpolis.it" class="arrow"><img src="/static/img/arrows/arrow-fucsia.png" alt="Vai su Open Parlamento" /></a></div>
    </div>

  </div>
</section>
{% endblock %}


{% block extra_content %}
<section id="extra" class="container-fluid">
  <div class="container">
    <div class="row">
        <div class="span3" style="padding-top: 10px;">
          <a 
           href="https://s3-eu-west-1.amazonaws.com/camereaperte2013.openpolis.it/dossier_camereaperte2013.pdf">
            <img
             src="{{STATIC_URL}}img/CA13_banner_openpolis.png"/>
          </a><br/>
          <strong>Camere aperte 2013</strong>, rapporto sull'attività del Parlamento italiano nella XVI Legislatura.<br/>
          <a 
           href="https://s3-eu-west-1.amazonaws.com/camereaperte2013.openpolis.it/dossier_camereaperte2013.pdf">
           Scarica il file (pdf, 1,6Mb).
          </a>
        </div>
        <div class="span3">
            <ul class="feed unstyled">
              {% for blog_entry in  blog_entries%}
                <li>
                  <a href="{{blog_entry.link}}" target="_blank">
                    {{blog_entry.title|safe}} ({{blog_entry.updated_parsed.tm_mday}}.{{blog_entry.updated_parsed.tm_mon}}.{{blog_entry.updated_parsed.tm_year}})
                  </a>
                </li>
              {% endfor %}
            </ul>
        </div>
        
        <div class="span3">
            <ul class="feed unstyled">
              {% for tw_entry in  tw_entries%}
                <li>
                  <a href="{{tw_entry.link}}" target="_blank">
                    {{tw_entry.title|safe}} ({{tw_entry.updated_parsed.tm_mday}}.{{tw_entry.updated_parsed.tm_mon}}.{{tw_entry.updated_parsed.tm_year}})
                  </a>
                </li>
              {% endfor %}
            </ul>
        </div>
        
        <div class="span3">
            <ul class="feed unstyled">
              {% for fb_entry in  fb_entries%}
                <li>
                  <a href="{{fb_entry.link}}" target="_blank">
                    {{fb_entry.title|safe}} ({{fb_entry.updated_parsed.tm_mday}}.{{fb_entry.updated_parsed.tm_mon}}.{{fb_entry.updated_parsed.tm_year}})
                  </a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="span3 offset3"><p><a href="http://blog.openpolis.it" target="_blank"><span class="icon wordpress"></span>Vai al Blog</a></p></div>
        <div class="span3"><p><a href="http://www.twitter.com/openpolis" target="_blank"><span class="icon twitter"></span>Vai al canale Twitter</a></p></div>
        <div class="span3"><p><a href="http://www.facebook.com/openpolis" target="_blank"><span class="icon facebook"></span>Vai alla pagina Facebook</a></p></div>
    </div>
    
  </div>
</section>
{% endblock %}


{% block fblike %}{% endblock %}

{% block css_styles %}
{{ block.super }}
<style type="text/css">
    #splash { position: relative; }
    #subscribe_link {
        position: absolute;
        height: 30px;
        width: 480px;
        top: 130px;
    }
    
</style>
{% endblock %}
