{% extends "layout.html" %}
{% load cms_extras %}
{% load markup %}

{% block title %} - {{page.title}} {% endblock %}

{% block article_head %}
    <div class="row">
        
        <header class="span12">
            {% block content_header %}
            <h1>{{ page.title }}</h1>
            {% endblock %}

            {% if page.sub_title %}
            <h2>{{ page.sub_title }}</h2>
            {% endif %}
        </header>
        
    </div>
{% endblock %}
    
{% block content %}

    <div>{{ page.text_html|shortcodes|safe }}</div>
    
    {% block content_footer %}{% endblock %}
    
{% endblock %}

{% block sidebar %}
    <aside>
        {% if page.asides.all|length > 0 %}
            {% for aside in page.asides.all %}
            <blockquote>
            {{ aside.text|markdown }}
                {% if aside.author %}
                  <small>{{ aside.author }}</small>
                {% endif %}
            </blockquote>
            {% endfor %}
        {% endif %}
    </aside>
{% endblock %}