{% extends "easycms/page.html" %}

{% block title %} - {{page.title}} {% endblock %}
{% block content_header %}
    {% if page.logo %}
      <a href="{{ page.url }}/" target="_blank" id="project-logo"><img src="{{ page.logo.url }}" alt="{{ page.title }}" /></a>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
{% endblock %}

{% block content_footer %}
  {% if page.title_slug == 'voi-siete-qui' %}
    <a href="http://politiche2013.voisietequi.it" class="button-forward">vai all'edizione per le<br/> Elezioni politiche 2013</a>
    <a href="http://amministrative2011.voisietequi.it" class="button-forward">vai all'edizione per le<br/> Elezioni amministrative 2011</a>    
{#    <a href="http://politiche2008.voisietequi.it" class="button-forward">vai all'edizione per le<br/> Elezioni politiche 2008</a>    #}
  {% else %}
    {% if page.url %}
      <a href="{{ page.url }}" class="button-forward">vai al progetto <br/> {{ page.title }}</a>    
    {% endif %}
  {% endif %}
{% endblock %}

{% block payoff %}
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li class="first">Progetti</li><span class="divider">/</span>
                <li>{{ page.title }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block buzz %}
  <section id="buzz" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="span8">
          <h2>Openpolis buzz</h2>
          <p>Openpolis in giro per la rete</p>
          <ul class="feed unstyled">
            {% for entry in  buzz_feed %}
              <li>
                <span>{{entry.updated_parsed.tm_mday}}.{{entry.updated_parsed.tm_mon}}.{{entry.updated_parsed.tm_year}}</span> 
                <a href="{{entry.link}}" target="_blank">
                  {{entry.title}}
                </a>
              </li>
            {% endfor %}
          </ul>          
        </div>
      </div>
    </div>
  </section>
{% endblock %}

