{% extends "easycms/page.html" %}

{% block title %} - {{page.title}} {% endblock %}
{% block content_header %}
    {% if page.logo %}
      <a href="{{ page.url }}/" target="_blank" id="project-logo"><img src="{{ page.logo.url }}" alt="{{ page.title }}" /></a>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
{% endblock %}

{% block content_footer %}
  {% if page.url %}
    <a href="{{ page.url }}" class="button-forward">vai al progetto <br/> {{ page.title }}</a>    
  {% endif %}
{% endblock %}

{% block payoff %}
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li class="first">Progetti</li><span class="divider">/</span>
                <li>{{ page.title }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block buzz %}
  <section id="buzz" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="span8">
          <h2>Openpolis buzz (le ultime cose in rete)</h2>
          <ul class="feed unstyled">
            {% for entry in  buzz_feed %}
              <li>
                {{entry.updated_parsed.tm_mday}}.{{entry.updated_parsed.tm_mon}}.{{entry.updated_parsed.tm_year}} -
                <a href="{{entry.link}}" target="_blank">
                  {{entry.title}}
                </a>
              </li>
            {% endfor %}
          </ul>          
        </div>
      </div>
    </div>
  </section>
{% endblock %}

