@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


body {
  padding: 0;
}

.navbar {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 0;
}

.navbar-inner {
  background-color: #D10423;
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.navbar .nav .open > .dropdown-toggle, 
.navbar .nav .active > .dropdown-toggle, 
.navbar .nav .open.active > .dropdown-toggle,
{
  background-color: transparent;
}

.navbar .nav .active > a, 
.navbar .nav .active > a:hover
{
  background-color: transparent;
  color: black;
}

.navbar .nav > li > a {
  color: white;
}

.navbar .nav > li > a:hover {
  color: black;
}

.navbar .dropdown-menu .active,
.navbar .dropdown-menu a:hover
{
  background-color: #D10423;
}


#payoff {
  padding: 1em;
  background: #286EB4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NmViNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTQ4N2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #286EB4 0%, #01487B 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#286EB4), color-stop(100%,#01487B));
  background: -webkit-linear-gradient(top, #286EB4 0%,#01487B 100%);
  background: -o-linear-gradient(top, #286EB4 0%,#01487B 100%);
  background: -ms-linear-gradient(top, #286EB4 0%,#01487B 100%);
  background: linear-gradient(top, #286EB4 0%,#01487B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#286eb4', endColorstr='#01487b',GradientType=0 );
}

#payoff #claim {
    text-align: center;
  /*margin: 1em 0 30px 0;*/
}

#payoff #arrows > div {
  text-align: right;
}

#payoff #texts > div {
  color: white;
}

#payoff #texts p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#payoff #texts a,
#payoff #texts a:hover {
  color: white;
  font-weight: bold;
}

@media (min-width: 1101px){

    #pcv_outer_container{
        font-family: 'Montserrat', sans-serif;
        /* padding-top: 50px; */
        min-height: 200px;
        /*background: url(/static/img/pcv/bg_pcv.jpg) no-repeat;*/
        background-size: 100% 100%;
    }
}

@media (max-width: 1100px){

    #pcv_outer_container{
        font-family: 'Montserrat', sans-serif;
        padding-top: 20px;
        min-height: 200px;
        /*background-color: #9dd4cf;*/
    }
}

@media (min-width: 1101px){
    #pcv_outer_container #slogan_container {
        margin-left: 45px;
        padding-top: 40px;
    }
}
@media (max-width: 1100px){
    #pcv_outer_container #slogan_container {
        text-align: center;
        margin-bottom: 10px;
        padding-top: 40px;
    }
}

#pcv_outer_container #slogan{
    color: white;
}

@media (min-width: 1101px){
    #pcv_outer_container #slogan #pcv{
        font-size: 40px;
        line-height: 35px;
    }
}
@media (max-width: 1100px){
    #pcv_outer_container #slogan #pcv{
        font-size: 30px;
        line-height: 25px;
    }
}

@media (min-width: 1101px){
    #pcv_outer_container #hash {
        font-size: 82px;
        line-height: 71px;
    }
}


@media (max-width: 1100px){
    #pcv_outer_container #hash {
        font-size: 60px;
        line-height: 50px;
    }
}

#pcv_outer_container #descrizione{
    text-align: center;
    color: #4e4d4d;
}

#pcv_outer_container #descrizione #titolo{
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
}

#pcv_outer_container #descrizione #catenaccio{
    margin-top: 5px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}
#pcv_outer_container .button_container{
    margin-top: 10px;
}

#pcv_outer_container #button {
    height: 86px;
    max-width: 100%;
    overflow: hidden;
}

#pcv_outer_container #button img{
    position: relative;
    height: 200%
}
#pcv_outer_container #button img{

    overflow: hidden;
    top: 0;
    left: 0;
}

#pcv_outer_container #button img:hover{

    overflow: hidden;
    top: -100%;
    left: 0;
}


#pcv_whitebar{
    background-color: white;
    height: 2px;
}


#extra {
    min-height: 190px;
    background: #d11d21;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

#extra h2 {
    margin-top: 1em; margin-bottom: 1em;
    color: white;
    font-weight: normal;
}

#extra h3 {
    line-height: 20px;
}

#extra p {
    font-family: Helvetica, Arial, sans-serif!important;
    font-size: 16px;
    line-height: normal;
}

#extra div.text {
    line-height: normal;
}

#extra div.row.last, #extra div.row.tags {
    margin-bottom: 1.5em;
}

#extra div.row.last {
    font-size: 20px;
    text-align: right;
}

#extra a,
#extra a:hover {
    color: white;
    line-height: normal!important;
}


footer {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 15px 0;
  background-color: #E4E3DE;
}

footer h3, footer h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 18px;
  letter-spacing: 0;
}

footer ul {
  list-style-type: none;
}

footer ul a,
footer ul a:hover {
  color: black;
}

footer p, footer ul {
  margin-bottom: 8px;
  line-height: 1.5em;
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul
{
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

footer ul.dotted-list li {
  padding-left: 0.6em;
  background: transparent url('../img/dot.png') 0 .6em no-repeat;
}

#sub-footer {
  margin-top: 25px;
}

#sub-footer ul li { display: inline-block; border-left: 1px solid #ccc; }
#sub-footer ul li:first-child { display: inline-block; border-left: 0; }

span.icon {
  background: transparent url(../img/icons/sprite-social-icons.png) no-repeat;
  margin: 0 7px;
  display: inline-block;
  float: left;
  height: 27px;
  line-height: 27px;
  width: 30px;
  max-width: 30px;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transition: background-image 0.20s linear;
  -moz-transition: background-image 0.20s linear;
  -o-transition: background-image 0.20s linear;
  transition: background-image 0.20s linear;
}

span.wordpress {
  background-position: -150px -0px;
}

span.twitter {
  background-position: -120px -0px;
}

span.facebook {
  background-position: -60px -0px;
}

span.google {
  background-position: -30px -0px;
}

span.trac {
  background-position: -0px -0px;
}

span.feed {
  background-position: -90px -0px;
}

span.twitter {
  background-position: -120px -0px;
}

article#main h1, article#main h2, article#main h3, #buzz h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-weight: normal;
}

article#main h1 {
  color: #D10423;
  margin-top: 15px;
}

article#main h2 {
  color: #333;
}

#biopictures div.popoverable {
  margin-top: -4px;
}


.breadcrumb {
  font-family: Arial;
  font-size: 12px;
  color: #999;
  background: none;
  border: none;
  margin-top: 5px;
  padding-left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul.breadcrumb li {
  border: none!important;
  text-shadow: none;
}

#subscribe h2 {
   clear: both;
}

#subscribe table td{
  text-align: right;
}

#subscribe table td a.button-forward {
  float: right;
  padding-right: 0;
}

#subscribe table caption {
  font-size: 11px;
  line-height: 14px;
  text-align: left;
  padding: 0 1em;
}

#subscribe table.table th, table.table td {
  border-top: 3px solid #DDD;
}

a.button-download, a.button-forward {
  background: transparent left center no-repeat;
  padding: 10px 30px 0 60px;
  min-height: 50px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-decoration: underline;
}

a.button-download {
  color: #147542 !important;
  background-image: url(/static/img/icons/button-green.png);
}

a.button-forward {
  color: #296DB3 !important;
  background-image: url(/static/img/icons/button-blue.png);
}

#op_realtime caption {
  background-color: #dedede;
}

#op_realtime caption th, 
#op_realtime caption td {
  padding: 5px;
}

blockquote {
  border-left: 0;
}
blockquote p {
  color: #ffffff;
}

blockquote small {
  color: #333;
}

.yellow {
  padding: 20px;
  background-color: #FBEE7D;
  margin: 1em 0;
}

.yellow h1 {
  margin-top: 0!important;
  margin-bottom: 0.8em;
}

.yellow form {
  margin-bottom: 0!important;
}

label {
  font-family: Georgia;
}

#buzz { 
  background-color: #f5f5f3;
  padding: 2em 0;
  font-size: 12px;
}
#buzz, #buzz p { 
    font-family: Arial;
}
#buzz h2 {
    font-family: Georgia;
}
#buzz ul {
    margin-top: 20px;
}
#buzz li {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 2px;
    background-image: url(../img/icons/feed-google.png);
    background-repeat: no-repeat;
    background-position: left top;
}
#buzz li span {
    color: #646566;
}
#buzz li a {
    font-weight:bold;
}

#fblike { 
  padding: 1em 0;
}


/*campagna 5xmille 2013*/

.no_margin {
    margin-right: 0!important;
    margin-left: 0!important;
    overflow: hidden;
    width: 100%!important;
}

.cxm_header_bg{
    min-height: 222px;
    background-image: url('../img/5xmille/5xmille_header.jpg');
    background-repeat: no-repeat;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    margin-bottom: 25px;
  }

.cxm_header_container{
    margin-top: 25px;
    /*margin-left: 50px;*/
    margin-left:0!important;
    font-family: 'Open Sans Condensed', sans-serif;

}

.cxm_header_container .top{
    background-color: #000;
    color: #fff;
    font-size: 75px;
    line-height: 65px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;

}

.cxm_header_container .bottom{
    background-color: #fff;
    color: #000;
    font-size: 40px;
    line-height: 35px;
    font-weight: bold;
    padding: 25px;
    margin-bottom: 30px;

}

.cxm_side_cf{
    font-family: 'Open Sans Condensed', sans-serif;
}

.cxm_side_cf .top{
    margin: 0!important;
    background-color: #000;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.cxm_side_cf .top .left{
    padding-top: 2px;
    text-align: justify;
    font-size: 20px;
}
.cxm_side_cf .top .right{
    font-size: 50px;
    letter-spacing:4px;
    line-height: 45px;

}

.cxm_side_cf .bottom{
    background-color: #ddd704;
    color: #000;
    font-size: 45px;
    letter-spacing:12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

@media (max-width: 1200px) {
    .cxm_side_cf .top > * {
        width: auto;
        display: block;
    }
    .cxm_side_cf .bottom {
        letter-spacing: normal;
    }
}

.cxm_main_cf{
    margin-top: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 0;
    padding-right: 0;
}

.cxm_main_cf .number_row{

    color: #000;
    font-size: 45px;
    line-height: 45px;
    letter-spacing:12px;
    padding-top: 20;
    padding-left: 0;
    padding-right: 12px;
    margin-bottom: 5px;
    text-align: center;
}

.number_row .span2{
    height: 75px;
    width: 75px;
}

.number_row .span2 img{
    height: 75px;
    width: 75px;
}

.cxm_main_cf .number_row .number{
    background-color: #ddd704;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cxm_main_cf .subtitle_row{
    margin-bottom: 20px;
    color: #797b73;
}

.come_fare_row{
    margin-top: 25px;
    margin-bottom: 25px;
}

.come_fare_row .title{
    margin-bottom: 15px;
}

.download_img{
    margin-bottom: 50px;
}

/*5xmille carousel*/
#cxmilleCarousel{
    margin-top:50px;
}

/*5xmille social wells*/

.cxmille_well{
    font-family: "Georgia",sans-serif;
    color: #6b6c68;
    font-size: 13px;
    min-height: 20px;
    margin-top: 20px!important;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.email_subtitle{
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Georgia',sans-serif;
    font-size: 18px;
}

.email_well{
    font-family: "Georgia",sans-serif;
    color: #6b6c68;
    font-size: 13px;
    min-height: 20px;
    margin-top: 20px!important;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    background-color: #fff;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#cxm_subscriptionform .alert{
    width: 185px;
    margin-bottom: 5px;
}

.subscription_alert{
    margin-bottom: 0;
}

@media (max-width: 980px) {
    .navbar .btn.btn-navbar { float: left; }
}