{% extends "layout.html" %}

{% block title %} - Campagna 5 x mille {% endblock %}

{% block js_custom %}

{#    include for facebook like button #}
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>


    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>

{% endblock %}

{% block social_tags %}
{#  facebook#}
    <meta property="og:title" content="Openpolis: il tuo 5 x mille per continuare a gridare insieme 'Il Re è nudo!'"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.openpolis.it/static/img/5xmille/fb_img.png"/>
    <meta property="og:description" content="Tutte le informazioni per donarci il tuo 5 x mille."/>
    <meta property="og:url" content="http://www.openpolis.it/5xmille/"/>


{#    twitter#}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@openpolis">
    <meta name="twitter:title" content="Il tuo #5xmille per continuare a gridare insieme &quot;Il Re è nudo!&quot;">
    <meta name="twitter:description" content="Tutte le informazioni per donarci il tuo 5 x mille.">
    <meta name="twitter:creator" content="@openpolis">
    <meta name="twitter:image:src" content="http://www.openpolis.it/static/img/5xmille/tw_img.png">
    <meta name="twitter:domain" content="www.openpolis.com/5xmille">

{#    plus#}

    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <html itemscope itemtype="http://schema.org/Article">

    <!-- Add the following three tags inside head. -->
    <meta itemprop="name" content="Openpolis: il tuo 5 x mille per continuare a gridare insieme &quot;Il Re è nudo!&quot;">
    <meta itemprop="description" content="Ricordi la storia di quell'imperatore vanitoso che indossava abiti trasparenti? I cortigiani vedevano chiaramente che non portava niente, eppure restavano zitti. Solo un ragazzino strillò: &quot;ma il re non ha i vestiti!&quot; Ecco, noi cerchiamo tutti giorni di essere quel ragazzino coraggioso. Quel ragazzino che non conosce ipocrisia e ti dice come stanno le cose.">
    <meta itemprop="image" content="http://www.openpolis.it/static/img/5xmille/gplus_img.png">

{% endblock %}



{% block header_image %}
{#    hidden img for ADDTHIS facebook share#}
    <div ><img class="hidden" src="http://www.openpolis.it/static/img/5xmille/fb_img.png"/></div>


    <div class=" no_margin cxm_header_bg">
        <div class="container">
            <div class="span5  cxm_header_container">
                <div class="top">
                    Il Re &egrave; nudo!
                </div>
                <div class="bottom">
                    Noi te lo dimostriamo.
                </div>
            </div>
            <div class="offset4 span3" style="margin-top: 25px;">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_twitter"
                       addthis:url="http://www.openpolis.it/5xmille/"
                       addthis:title="Il tuo #5xmille per continuare a gridare insieme &quot;Il Re è nudo!&quot;"
                       addthis:description="Tutte le informazioni per donarci il tuo 5 x mille."></a>
                    <a class="addthis_button_facebook"
                       addthis:url="http://www.openpolis.it/5xmille/"
                       addthis:title="Il tuo #5xmille per continuare a gridare insieme &quot;Il Re è nudo!&quot;"
                       addthis:description="Tutte le informazioni per donarci il tuo 5 x mille."></a>
                    <a class="addthis_button_google_plusone_share"
                       addthis:url="http://www.openpolis.it/5xmille/"
                       addthis:title="Il tuo #5xmille per continuare a gridare insieme &quot;Il Re è nudo!&quot;"
                       addthis:description="Tutte le informazioni per donarci il tuo 5 x mille."></a>
                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-516c0e78663ccbd3">
                    var addthis_share =
                    {

                        templates: {
                            twitter: 'Il tuo #5xmille per continuare a gridare insieme &quot;Il Re è nudo!&quot; {{url}}'
                        }
                    }
                </script>
                <!-- AddThis Button END -->

            </div>
        </div>
    </div>



{% endblock %}

{% block content %}
    <p>
        Ricordi la
        <a href="http://it.wikipedia.org/wiki/I_vestiti_nuovi_dell%27imperatore" title="Vai alla storia" target="_blank">
            storia
        </a> di quell'imperatore vanitoso che indossava abiti trasparenti?
        I cortigiani vedevano chiaramente che non portava niente, eppure restavano zitti.
        Solo un ragazzino strillò: “ma il re non ha i vestiti!”
    </p>
    <p>
        Ecco, <b>noi cerchiamo tutti giorni di essere quel ragazzino coraggioso.
        Quel ragazzino che non conosce ipocrisia e ti dice come stanno le cose.</b>
    </p>
    <p>
        Sai che usiamo l'analisi dei dati per vederci chiaro.
        Usiamo i numeri per dimostrarti che il Re è Nudo. Siamo in nove in ufficio e la mole di
        lavoro che affrontiamo è davvero tanta.
        Sai che <b>i servizi che ti offriamo sono tutti gratuiti e senza pubblicit&agrave;</b>.
        Abbiamo creato per te
        <a href="http://www.openparlamento.it" title="Vai al sito Open parlamento" target="_blank">
            Open parlamento
        </a>
        un posto dove trovi tutte le informazioni sui lavori del
        Parlamento Italiano aggiornati quotidianamente e analizzati: puoi seguire in maniera semplice l'operato
        di chi ci governa.

        <a href="Http://www.openpolitici.it/" title="Vai al sito Open politici" target="_blank">
            Open politici
        </a>
        invece ti permette di consultare le schede di tutti i politici italiani
        di qualunque ordine e grado: Comune, Provincia, Regione, Unione europea e Governo italiano.
        Poi c'è
        <a href="http://www.openmunicipio.it" title="Vai al sito Open municipio" target="_blank">
            Open municipio
        </a>
        a cui finora hanno aderito le città di
        <a href="http://www.openudine.it" title="Vai al sito Open Udine" target="_blank">
            Udine
        </a>, e Senigallia ma noi pensiamo che
        la chiarezza nei lavori di un Comune se la meritano i cittadini di ogni parte d'Italia.
        Con
        <a href="http://www.voisietequi.it" title="Vai al sito Voi siete qui" target="_blank">
            Voi siete qui
        </a> abbiamo provato a capire i programmi elettorali di ogni partito politico.
        Poi c’è
        <a href="http://www.openpolis.it/dossier/camere-aperte-2013/" title="Vai alla scheda di Camere aperte 2013" target="_blank">
            Camere Aperte
        </a>, il rapporto annuale sullo stato della politica italiana e i
        <a href="http://www.openpolis.it/dossier/3-poli-contrapposti-tanti-temi-comuni/" title="Vai alla scheda dell'ultimo mini-dossier" target="_blank">
            mini-dossier
        </a>
        di giornalismo dei dati che periodicamente promuoviamo.
    <br/>
        <b>Adesso abbiamo bisogno di te.<br/>
        Per continuare a donarti trasparenza donaci il tuo 5 per mille.</b>
    </p>

    <div class="cxm_main_cf container-fluid">
        <div class="row-fluid number_row">
            <div class="span6 number">
                97532050586
            </div>
        </div>
        <div class="row-fluid subtitle_row">
            <div class="span7 subtitle">
                Il nostro codice fiscale da inserire nel modello per la dichiarazione dei redditi.
            </div>
        </div>
    </div>

    <div class="come_fare_row">
        <div class="title">
            <article><h1>Come fare</h1></article>

        </div>
        <div class="subtitle">
            Scarica e stampa un promemoria da portare al tuo commercialista e da distribuire ai tuoi amici.
        </div>
    </div>

    <div class="download_img">
        <a href="../static/doc/5xmille-PromemoriaA4.pdf" target="_blank">
            <img src="../static/img/5xmille/5xmille_download.png" />
        </a>

    </div>

    <p>
        Nel tuo modello per la dichiarazione dei redditi (CUD, 730 o UNICO – qui sotto trovi i fac simile)
        troverai uno spazio dedicato alla “SCELTA PER LA DESTINAZIONE DEL CINQUE PER MILLE DELL’IRPEF”.
    </p>
    <p>
        Scegli l'area dedicata al "Sostegno del volontariato e delle altre organizzazioni non lucrative di
        utilità sociale, delle associazioni di promozione sociale e delle associazioni e fondazioni
        riconosciute che operano nei settori di cui all’art. 10, c. 1, lett a), del D.Lgs. n. 460 del 1997"
        Inserisci <b>la tua firma</b> e il numero del Codice fiscale dell’Associazione Openpolis: 97532050586.
    </p>


    <div id="cxmilleCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="item">
                <img src="../static/img/5xmille/slider_730.png"
                        />
                <div class="carousel-caption">
                    <h4>730 2013</h4>
                    <p>Questo spazio da compilare e firmare si trova a pagina 5 del Modello 730 2013, (per la dichiarazione dei redditi dei lavoratori dipendenti e pensionati).</p>
                </div>
            </div>
            <div class="item">
                <img src="../static/img/5xmille/slider_cud.png"
                        />
                <div class="carousel-caption">
                    <h4>CUD 2013</h4>
                    <p>Questo spazio da compilare e firmare due volte si trova a pagina 3 del Certificato Unico Dipendente (CUD, certificazione unica dei redditi di lavoro dipendente).</p>
                </div>

            </div>
            <div class="item">
                <img src="../static/img/5xmille/slider_pf.png"
                        />
                <div class="carousel-caption">
                    <h4>Unico P/F 2013</h4>
                    <p>Questo spazio da compilare e firmare si trova a pagina 2 del Modello Unico Persone fisiche (Unico P/F 2013 è un modello unificato che permette di presentare più dichiarazioni fiscali).</p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#cxmilleCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#cxmilleCarousel" data-slide="next">&rsaquo;</a>
    </div>

{% endblock %}


{% block sidebar %}
    <div class="cxm_side_cf container-fluid">
        <div class="top row-fluid">
            <div class="left span6">
                Per continuare a donarti trasparenza donaci il tuo
            </div>
            <div class="right span6">
                5XMILLE
            </div>
        </div>
        <div class="bottom row-fluid">
            <div class="span12">
                97532050586
            </div>
        </div>

        <div class="row-fluid ">
            <div class="span12 cxmille_well">
                Il mio 5 per mille ad Openpolis per continuare a gridare
                "Il Re &egrave; nudo!" Codice fiscale 97532050586</br>
                http://www.openpolis.it/5xmille
                <div style="margin-top: 10px;" id="fb-root"></div>
                <div class="fb-like"
                     data-href="http://www.openpolis.it/5xmille"
                     data-send="false" data-width="300" data-show-faces="false"></div>
            </div>
        </div>

        <div class="row-fluid ">
            <div class="span12 cxmille_well">
                Il mio <strong>#5xmille</strong> ad @openpolis per continuare a gridare
                "Il Re &egrave;
                nudo!" Codice fiscale 97532050586</br>
                http://www.openpolis.it/5xmille
                <br/>
                <span style="float:right">
                    <a href="https://twitter.com/share"
                       class="twitter-share-button"
                       data-dnt="true" data-count="none"
                       data-url="http://www.openpolis.it/5xmille"
                       data-lang="it"
                       data-counturl="http://www.openpolis.it/5xmille"
                       data-hashtags="#5xmille"
                       data-text='Il mio #5xmille ad @openpolis per continuare a gridare "Il Re è nudo!" Codice fiscale 97532050586'

                            >
                        Tweet
                    </a>
                    <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0];
                            if(!d.getElementById(id)){
                                js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }
                                (document,"script","twitter-wjs");
                    </script>
                </span>
            </div>

        </div>
        <div class="row-fluid ">
            <div class="span12 cxmille_well">
                Il mio 5 per mille ad Openpolis per continuare a gridare
                "Il Re &egrave; nudo!" Codice fiscale 97532050586</br>
                http://www.openpolis.it/5xmille<br/>
                <div style="float:right;">
                    <!-- Place this tag where you want the share button to render. -->
                    <div class="g-plus"
                         data-action="share"
                         data-annotation="none"
                         data-height="24"
                         data-href="http://www.openpolis.it/5xmille/"

                            >

                    </div>

                    <!-- Place this tag after the last share tag. -->
                    <script type="text/javascript">
                        window.___gcfg = {lang: 'it'};

                        (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" >
                <a name="subscription_form"></a>
                <article><h1>Ci hai donato il tuo 5xmille?</h1></article>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 email_subtitle">
                Lasciaci la tua email e ti contatteremo per coinvolgerti nelle nostre iniziative!
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 email_well" style="padding-left: 0;">
                <form id="cxm_subscriptionform" action="{% url 5xmille %}" method="post">{% csrf_token %}
                    <fieldset>
                        {% if subscription_form.first_name.errors %}
                            <div class="alert alert-error">
                                {{ subscription_form.first_name.errors.0 }}
                            </div>
                        {% endif %}
                        <input name="first_name"
                               placeholder="Il tuo nome" class="span10" maxlength="200" type="text" id="first_name"
                               value="{{ subscription_form.first_name.value  }}">


                        {% if subscription_form.last_name.errors %}
                            <div class="alert alert-error">
                                {{ subscription_form.last_name.errors.0 }}
                            </div>
                        {% endif %}
                        <input name="last_name"
                               placeholder="Il tuo cognome" class="span10" maxlength="200" type="text" id="last_name"
                                value="{{ subscription_form.last_name.value  }}"
                                >
                        <div class="input-prepend">

                            {% if subscription_form.email.errors %}
                                <div class="alert alert-error">
                                    {{ subscription_form.email.errors.0 }}
                                </div>
                            {% endif %}
                            <span class="add-on">@</span>
                            <input type="text" class="span9" placeholder="La tua Email" id="email" name="email"
                                   value="{{ subscription_form.email.value  }}">
                        </div>
                        <p class="muted ">
                            <small>I tuoi dati verranno utilizzati unicamente per informarti sulle iniziative di Openpolis</small>
                        </p>
                    </fieldset>
                    <fieldset>
                        <button class="btn pull-left" type="submit">Invio</button>
                    </fieldset>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


