{% extends "layout.html" %}

{% block title %} - Campagna 5 x mille {% endblock %}

{% block header_image %}
    <div class="container no_margin cinquexmille">
    </div>



{% endblock %}

{% block content %}

    <p>
        Ricordi la storia di quell'imperatore vanitoso che indossava abiti trasparenti?
        I cortigiani vedevano chiaramente che non portava niente, eppure restavano zitti.
        Solo un ragazzino strillò: “ma il re non ha i vestiti!”
    </p>
    <p>
        Ecco, <b>noi cerchiamo tutti giorni di essere quel ragazzino coraggioso.
        Quel ragazzino che non conosce ipocrisia e ti dice come stanno le cose.</b>
    </p>
    <p>
        Sai che usiamo l'analisi dei dati per vederci chiaro.
        Usiamo i numeri per dimostrarti che il Re è Nudo. Siamo in nove in ufficio e la mole di
        lavoro che affrontiamo è davvero tanta.
        Sai che <b>i servizi che ti offriamo sono tutti gratuiti</b>.
        Abbiamo creato per te Open parlamento un posto dove trovi tutte le informazioni sui lavori del
        Parlamento Italiano aggiornati quotidianamente e analizzati: puoi seguire in maniera semplice l'operato
        di chi ci governa. Open politici invece ti permette di consultare le schede di tutti i politici italiani
        di qualunque ordine e grado: Comune, Provincia, Regione, Unione europea e Governo italiano.
        Poi c'è Open municipio a cui finora hanno aderito le città di Udine, e Senigallia ma noi pensiamo che
        la chiarezza nei lavori di un Comune se la meritano i cittadini di ogni parte d'Italia.
        Con Voi siete qui abbiamo provato a capire i programmi elettorali di ogni partito politico.
        Poi c’è Camere Aperte, il rapporto annuale sullo stato della politica italiana e i mini-dossier
        di giornalismo dei dati che periodicamente promuoviamo.
        <b>Adesso abbiamo bisogno di te.
        Per continuare a donarti trasparenza donaci il tuo 5 per mille.</b>
    </p>


    <p>
        Nel tuo modello per la dichiarazione dei redditi (CUD, 730 o UNICO – qui sotto trovi i fac simile)
        troverai uno spazio dedicato alla “SCELTA PER LA DESTINAZIONE DEL CINQUE PER MILLE DELL’IRPEF”.
    </p>
    <p>
        Scegli l'area dedicata al "Sostegno del volontariato e delle altre organizzazioni non lucrative di
        utilità sociale, delle associazioni di promozione sociale e delle associazioni e fondazioni
        riconosciute che operano nei settori di cui all’art. 10, c. 1, lett a), del D.Lgs. n. 460 del 1997"
        Inserisci <b>la tua firma</b> e il numero del Codice fiscale dell’Associazione Openpolis: 97532050586.
    </p>
{% endblock %}


