{% extends "layout.html" %}

{% block content %}

<p>
    Ti piace il progetto Openpolis e hai un po’ di energia da dedicarci, idee, lavoro. Sei il benvenuto.
</p> 

<h1>Collabora con noi</h1>

<p>
    Puoi entrare nella redazione distribuita del sito Open polis l'anagrafe dei 130.000 eletti in Italia più aggiornata e a disposizione di tutti. Dopo la registrazione al sito puoi contribuire subito alla gestione delle informazioni che riguardano la tua città o i politici che più ti interessano. Puoi segnlare errori e mancanze oppure aggiornare dei dati e pubblicare le dichiarazioni dei politici.
</p>

<ul>
	<li><a href="http://trac.openpolis.it/openpolis/">Open polis</a> l'anagrafe degli eletti in Italia</li>
	<li><a href="http://trac.openpolis.it/openparlamento/">Open parlamento</a> il monitoraggio dei lavori di camera e senato</li>
</ul>

<p>Se sei un grafico, aiutaci nella rappresentazione dei dati per renderli sempre più comprensibili a tutti.</p>
<p>Se hai delle idee, anche di nuovi progetti, condividiamole e facciamole crescere insieme!</p>

{% endblock %}

{% block payoff %}
<section id="extra" class="sostienici">
  <div class="container">
      <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li class="first">Sostienici</li><span class="divider">/</span>
                <li>Collabora</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <img src="/static/img/payoff/slogan_mccandless.png" />
        </div>
      </div>
  </div>
</section>


{% endblock %}