{% extends "layout.html" %}

{% block content %}

<h1>Collabora con noi</h1>
<p>
	Entra a far parte della redazione distribuita del sito www.openpolis.it l'anagrafe dei 130.000 eletti in Italia più aggiornata e a disposizione di tutti. Dopo la registrazione al sito puoi contribuire subito alla gestione delle informazioni che riguardano la tua città o i politici che più ti interessano. Puoi segnlare errori e mancanze oppure aggiornare dei dati e pubblicare le dichiarazioni dei politici.	
</p>

<p>
	Se <strong>sei uno sviluppatore</strong> aiuta l'associazione a far crescere i progetti in essere e quelli futuri. Tutto il software è rilasciato con licenza GNU/GPL, ecco i link:
</p>
<ul>
	<li><a href="http://trac.openpolis.it/openpolis/">openpolis</a> l'anagrafe degli eletti in Italia</li>
	<li><a href="http://trac.openpolis.it/openparlamento/">openparlamento</a> il monitoraggio dei lavori di camera e senato</li>
</ul>
<p>Se <strong>sei un grafico</strong>, aiutaci nella rappresentazione dei dati per renderi sempre più comprensibili a tutti.</p>
<p>Se <strong>hai delle idee</strong>, anche di nuovi progetti, condividiamole e facciamole crescere insieme!</p>

{% endblock %}

{% block payoff %}
<section id="extra" class="container">      
    <div class="row">
        <div class="twelvecol">
			<ul id="breadcrumb">
				<li class="first">Sostienici</li>
				<li>Collabora</li>
			</ul>
		</div>
    </div>
	<div class="row"><img src="/static/img/payoff/slogan_cittadino_consapevole.png" /></div>
</section>
{% endblock %}