{% extends "layout.html" %}

{% block title %} - Dona {% endblock %}

{% block content %}

<p>
    Abbiamo scelto di non avere pubblicità né altre forme di promozione sui nostri siti e così essere realmente indipendenti. Pensiamo sia la cosa più corretta da fare e ogni giorno ne siamo ripagati da chi ci sceglie proprio per questo. Ma la nostra esistenza non è scontata, rinunciare alla pubblicità, mantenendo libero e gratuito l'accesso ai nostri servizi rende molto difficile l’andare avanti.
</p>
<h1>Dona ad OpenCorato</h1>
<p>
    Sappiamo di essere tra i tanti che chiedono, tutti a parità di urgenza e importanza e non possiamo esercitare alcuna influenza se non ricordarti ancora una volta che donando ad Openpolis scegli di sostenere un grande progetto italiano di democrazia e trasparenza. Un progetto vero, sano, tangibile, fatto di persone e idee. La tua donazione contribuità a sostenere:
</p>
<ul>
    <li>lo staff di dieci persone che ogni giorno lavorano per tenere insieme tutto questo</li>
    <li>le tecnologie: i server, i computer, la connessione ad internet per lavorare</li>
    <li>il nostro piccolo ufficio</li>
</ul>
<p>ma anche</p>
<ul>
    <li>la crescita delle piattaforme Open politici, Open parlamento, Voi siete qui</li>
    <li>la realizzazione dei nuovi progetti Open municipio, Open bilanci, Open action</li>
    <li>l’osservatorio civico della politica e i suoi progetti d’informazione: i dossier e Camere Aperte</li>
</ul>

<p>
    Puoi scegliere la forma e la misura con cui donare con la consapevolezza di fare una piccola cosa straordinariamante importante. Grazie.
</p>

<h2>Carta di Credito o Paypal</h2>

<section id="donate">
    
    
    <p><strong>Donazione occasionale</strong><br />
        Se vuoi puoi naturalmente cambiare l'importo, dona quello che puoi.
    </p>

    {% if paypal_test %}
      <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="form-inline">
          <input type="hidden" value="_xclick" name="cmd">
          <input type="hidden" value="guglie_1329207169_biz@gmail.com" name="business">
          <input type="hidden" value="Test Donazione occasionale per l'associazione openpolis" name="item_name">
          <input type="hidden" value="openpolis" name="page_style">
          <input type="hidden" value="1" name="no_shipping">
          <input type="hidden" value="http://www.openpolis.it" name="return">
          <input type="hidden" value="1" name="no_note">
          <input type="hidden" value="EUR" name="currency_code">
          <input type="hidden" value="0" name="tax">
          <input type="hidden" value="IT" name="lc">
          <input type="hidden" value="PP-DonationsBF" name="bn">
          <span class="add-on">&euro;</span>
          <span class="input-append" style="margin-bottom: -12px">
            <input value="20" name="amount" size="5" class="span1" style="text-align: right">
            <span class="add-on">,00</span>
          </span>
          <button type="submit" class="btn btn-info" alt="PayPal - Il sistema di pagamento online più facile e sicuro! ">Dona ora</button>
      </form>
    {% else %}
      <form method="post" action="https://www.paypal.com/cgi-bin/webscr" class="form-inline">
          <input type="hidden" value="_xclick" name="cmd">
          <input type="hidden" value="v.alvino@openpolis.it" name="business">
          <input type="hidden" value="Donazione occasionale per l'associazione openpolis" name="item_name">
          <input type="hidden" value="openpolis" name="page_style">
          <input type="hidden" value="1" name="no_shipping">
          <input type="hidden" value="http://www.openpolis.it" name="return">
          <input type="hidden" value="1" name="no_note">
          <input type="hidden" value="EUR" name="currency_code">
          <input type="hidden" value="0" name="tax">
          <input type="hidden" value="IT" name="lc">
          <input type="hidden" value="PP-DonationsBF" name="bn">
          <span class="add-on">&euro;</span>
          <span class="input-append" style="margin-bottom: -12px">
            <input value="20" name="amount" size="5" class="span1" style="text-align: right">
            <span class="add-on">,00</span>
          </span>
          <button type="submit" class="btn btn-success" alt="PayPal - Il sistema di pagamento online più facile e sicuro! ">Dona ora</button>
      </form>
    {% endif %}


    <p><strong>Donazione mensile per un anno</strong>
        <br />
        Ogni mese per un anno verrà prelevata la cifra da te indicata.<br />
        (Potrai in ogni momento interrompere le donazioni mensili scrivendo una mail a opencorato@gmail.com).<br />
        Se vuoi puoi naturalmente cambiare l'importo, dona quello che puoi.
    </p>
    {% if paypal_test %}
      <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="form-inline">
          <input type="hidden" value="_xclick" name="cmd">
          <input type="hidden" value="guglie_1329207169_biz@gmail.com" name="business">
          <input type="hidden" value="Test Donazione mensile per l'associazione openpolis" name="item_name">
          <input type="hidden" value="openpolis" name="page_style">
          <input type="hidden" value="1" name="no_shipping">
          <input type="hidden" value="http://www.openpolis.it" name="return">
          <input type="hidden" value="1" name="no_note">
          <input type="hidden" value="EUR" name="currency_code">
          <input type="hidden" value="0" name="tax">
          <input type="hidden" value="IT" name="lc">
          <input type="hidden" value="PP-DonationsBF" name="bn">
          <span class="add-on">&euro;</span>
          <span class="input-append" style="margin-bottom: -12px">
            <input value="5" name="a3" size="5" class="span1" style="text-align: right">
            <span class="add-on">,00</span>
          </span>
          <button type="submit" class="btn btn-info" alt="PayPal - Il sistema di pagamento online più facile e sicuro! ">Dona ora</button>
      </form>
    {% else %}
      <form method="post" action="https://www.paypal.com/cgi-bin/webscr" class="form-inline">
          <input type="hidden" value="_xclick-subscriptions" name="cmd">
          <input type="hidden" value="v.alvino@openpolis.it" name="business">
          <input type="hidden" value="Donazione mensile per l'associazione openpolis" name="item_name">
          <input type="hidden" value="openpolis" name="page_style">
          <input type="hidden" value="1" name="no_shipping">
          <input type="hidden" value="http://www.openpolis.it" name="return">
          <input type="hidden" value="1" name="no_note">
          <input type="hidden" value="EUR" name="currency_code">
          <input type="hidden" value="IT" name="lc">
          <input type="hidden" value="PP-SubscriptionsBF" name="bn">
          <input type="hidden" value="1" name="p3">
          <input type="hidden" value="M" name="t3">
          <input type="hidden" value="1" name="src">
          <input type="hidden" value="1" name="sra">
          <span class="add-on">&euro;</span>
          <span class="input-append" style="margin-bottom: -12px">
            <input value="5" name="a3" size="5" class="span1" style="text-align: right">
            <span class="add-on">,00</span>
          </span>
          <button type="submit" class="btn btn-success" alt="PayPal - Il sistema di pagamento online più facile e sicuro! ">Dona ogni mese</button>
      </form>
    {% endif %}

</section>

{% endblock %}

{% block payoff %}
<section id="extra" class="sostienici">
  <div class="container">
      <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li class="first">Sostienici</li><span class="divider">/</span>
                <li>Dona</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <img src="/static/img/payoff/slogan_donare.png" />
        </div>
      </div>
  </div>
</section>
{% endblock %}


{% block sidebar %}
    <aside>
      {% include "supporting_quotes.html" %}
    </aside>
{% endblock %}
