{% extends "layout.html" %}

{% block content %}
<h1>Privacy policy</h1>
<p>
	Finalità e modalità del trattamento (Informativa ex art. 13 D.Lgs. 196/03) </p>
<p>
	I dati saranno utilizzati dall’Associazione openpolis, esclusivamente per lo svolgimento dell’attività istituzionale, 
	per la promozione delle proprie iniziative e la gestione del rapporto associativo. 
	Il trattamento dei dati sarà svolto mediante computer, con l’adozione delle misure di sicurezza previste dalla legge. 
	I dati non saranno comunicati a terzi né saranno diffusi. 
</p>
<p>
	Secondo quanto previsto dall’art. 7 del Codice della privacy, hai il diritto di chiedere e ottenere l'aggiornamento, 
	la rettifica o l'integrazione dei dati, la cancellazione, 
	la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, e il diritto di opporsi, 
	in tutto o in parte, per motivi legittimi, al trattamento dei dati personali che Ti riguardano. 
	Titolare del trattamento è l’Associazione openpolis 
	con sede operativa a Roma in Via Dei Sabelli 215 - Telefono +39.06.83608392 -Email: info [chiocciola] openpolis.it
</p>
{% endblock %}