{% extends "layout.html" %}

{% block content %}
<br/><br/>
<p><strong>STATUTO DELL'ASSOCIAZIONE OPENPOLIS</strong><br>
(Costituita a Roma il 24 luglio 2008)</p>
<p><strong>Articolo 1 (Denominazione - Sede)</strong><br>
È costituita un'associazione indipendente, apartitica, aconfessionale e senza fini di lucro, denominata "OPENPOLIS", con sede in Roma, Via Luigi Montuori n.5.<br>
Con delibera del Consiglio Direttivo l'Associazione potrà istituire centri o sedi secondarie in qualsiasi parte d'Italia ed all'estero. </p>
<p><strong>Articolo 2 (Durata)</strong><br>
La durata dell'associazione è a tempo indeterminato.</p>
<p><strong>Articolo 3 (Scopo)</strong><br>
L'Associazione intende usare le tecnologie e la rete per favorire la trasparenza pubblica e la partecipazione delle persone al controllo delle scelte di interesse collettivo.<br>
L'Associazione si propone di:<br>
1. promuovere il diritto di accesso ai dati e alle informazioni di interesse collettivo perché siano effettivamente pubblici, a disposizione di chiunque senza limitazioni;<br>
2. favorire la partecipazione diretta e l'intervento di persone e gruppi alle decisioni pubbliche;<br>
3. favorire la comunicazione e le relazioni tra rappresentanti nelle istituzioni e i cittadini;<br>
4. promuovere l'innovazione delle amministrazioni pubbliche in particolare attraverso l'adozione delle tecnologie della comunicazione e dell'informazione;<br>
5. usare e diffondere il software libero e aperto;<br>
6. diffondere la cultura e le pratiche dell'apertura (open source, open content, open publishing, etc.) e dei beni comuni;<br>
7. rispettare e promuovere la riservatezza dei dati e delle informazioni personali;<br>
8. collaborare con tutti i soggetti che in Italia e all'estero svolgono attività di ricerca e sperimentazione nei settori di intervento dell'Associazione. L'Associazione potrà svolgere inoltre, sia attraverso la rete che in maniera tradizionale, attività di informazione, documentazione, comunicazione, editoria, ricerca, consulenza, formazione, organizzazione di eventi e ogni altra attività utile a perseguire gli scopi sociali.<br>
Per il raggiungimento delle proprie finalità L'Associazione può aderire a federazioni, enti ed organismi aventi scopi analoghi a quelli statutari, esistenti o da costituire.</p>
<p><strong>Articolo 4 (I soci)</strong><br>
Possono essere soci dell'associazione tutti coloro - persone fisiche e giuridiche - che condividono gli scopi dell'associazione e che condividono lo presente statuto e il regolamento interno. I soci sono fondatori e ordinari.<br>
Sono soci fondatori coloro che hanno costituito l'associazione e sono firmatari dell'atto costitutivo. Sono soci ordinari coloro che vengono ammessi all'associazione previa richiesta di iscrizione.<br>
Tutti i soci sono tenuti:<br>
1. al pagamento delle quote associative, nella misura e con la periodicità determinate dal Consiglio Direttivo;<br>
2. al pagamento dei contributi straordinari eventualmente deliberati dal Consiglio Direttivo;<br>
3. all'osservanza delle norme statutarie e del regolamento interno;<br>
4. a contribuire lealmente con tutte le loro capacità al raggiungimento dei fini sociali. I soci fondatori ed i soci ordinari hanno diritto a partecipare all'assemblea potendo esercitare il diritto di voto.<br>
I soci fondatori fanno parte di diritto del Consiglio Direttivo.</p>
<p><strong>Articolo 5 (Ammissione dei soci)</strong><br>
Le domande di ammissione sono approvate dal Presidente e ratificate dal Consiglio Direttivo.<br>
I soggetti che propongono domanda di ammissione riconoscono automaticamente e contestualmente senza riserve il presente statuto e il regolamento interno.<br>
Le somme versate per le quote sociali e per gli eventuali contributi stabiliti dall'associazione non sono rimborsabili in nessun caso.<br>
La quota di ingresso verrà stabilita dal Consiglio Direttivo. La quota sociale è intrasmissibile e non è rivalutabile.</p>
<p><strong>Articolo 6 (Decadenza dei soci)</strong><br>
Decadono dalla qualifica di soci coloro che:<br>
1. non siano in regola con il versamento della quota associativa;<br>
2. con il loro comportamento ledano il buon nome dell'associazione;<br>
3. commettano violazioni o inadempienze statutarie o al regolamento interno;<br>
4. si dimettano; dette decadenze, tranne le dimissioni, vengono decise dal Consiglio Direttivo.<br>
Le dimissioni vengono accettate dal Presidente e ratificate dal Consiglio Direttivo.<br>
La perdita di qualità di socio comporta automaticamente decadenza dalle eventuali cariche sociali ricoperte.</p>
<p><strong>Articolo 7 (Organi sociali)</strong><br>
Sono organi dell'associazione:<br>
1. l'Assemblea dei soci;<br>
2. il Consiglio Direttivo;<br>
3. il Presidente;<br>
4. il Segretario Amministrativo.<br>
<br>
<strong>Articolo 8 (L'assemblea dei soci)</strong><br>
L'assemblea generale è costituita da tutti i soci ordinari e fondatori.<br>
Ogni socio ha diritto ad un voto. L'assemblea è convocata di norma una volta l'anno od ogniqualvolta che il consiglio direttivo lo ritenga opportuno o su richiesta motivata di almeno un terzo degli associati.<br>
L'assemblea è convocata mediante fax o mediante e-mail da inviarsi ai soci almeno dieci giorni prima di quello stabilito per l'adunanza, con l'indicazione dell'ordine del giorno.<br>
L'assemblea sia ordinaria sia straordinaria è regolarmente costituita qualunque sia il numero dei soci intervenuti, ed ha facoltà di deliberare su tutte le questioni all'ordine del giorno, a maggioranza dei presenti.<br>
Le funzioni dell'assemblea sono:<br>
1. approvare il bilancio consuntivo e quello preventivo predisposti dal Consiglio Direttivo;<br>
2. eleggere i componenti del Consiglio Direttivo ad eccezione del primo Consiglio Direttivo che viene eletto in sede di costituzione;<br>
3. approvare le modifiche statutarie stabilite dal Consiglio Direttivo;<br>
4. ratificare l'importo delle quote associative stabilite dal Consiglio Direttivo;<br>
5. deliberare sullo scioglimento dell'associazione e sulle modalità di destinazione dell'eventuale residuo patrimoniale;<br>
6. indicare i programmi di massima dell'azione di sviluppo dell'associazione;<br>
7. ratificare tutta l'attività di iniziativa e proposte per il conseguimento degli scopi dell'associazione operata dal Consiglio Direttivo.<br>
<br>
<strong>Articolo 9 (Il Consiglio Direttivo)</strong><br>
Il Consiglio Direttivo è composto da un minimo di due ad un massimo di sette membri. I soci fondatori sono di diritto membri del Consiglio Direttivo; i restanti membri sono eletti dall'assemblea dei soci.<br>
Il Consiglio Direttivo si riunisce di norma due volte l'anno od ogni qualvolta il Presidente lo ritenga necessario oppure su richiesta motivata di almeno due terzi dei suoi componenti. La convocazione è eseguita dal Presidente mediante una comunicazione scritta o via fax o via e-mail almeno dieci giorni prima della riunione.<br>
Esso è validamente costituito con la maggioranza dei suoi componenti.<br>
Le delibere sono adottate con la maggioranza dei presenti. In caso di parità prevale il voto del Presidente. Il voto non può essere espresso per rappresentanza o tramite delega.<br>
Il Consiglio Direttivo ha tutti i poteri e le attribuzioni per la gestione dell'istituto che non siano riservati per legge o per statuto all'assemblea dei soci. Dura in carica 5 anni.<br>
Le funzioni del Consiglio Direttivo sono:<br>
1. Predisporre il bilancio preventivo e consuntivo da sottoporre all'approvazione dell'assemblea dei soci.<br>
2. Eleggere, tra i suoi componenti, il Presidente.<br>
3. Stabilire l'importo delle quote associative e la loro periodicità, eventuali contributi annuali o straordinari.<br>
4. Predisporre ed approvare il regolamento di attuazione del presente statuto (regolamento interno).<br>
5. Predisporre e stabilire le modifiche del presente statuto da sottoporre all'assemblea dei soci.<br>
6. Deliberare sulla decadenza dei soci.<br>
7. Ratificare le domande di ammissione a socio approvate dal Presidente.<br>
8. Ratificare le dimissioni accettate dal Presidente.<br>
9. Deliberare sulla stipulazione di qualsiasi contratto convenzione o altri atti di natura amministrativa o patrimoniali inerenti all'associazione e/o ratifica l'attività in merito del Presidente.<br>
10. Istituire speciali strutture per il migliore funzionamento dell'associazione.<br>
11. Ratificare l'utilizzo dei fondi sociali da parte del presidente.<br>
12. Svolgere l'attività di iniziativa e proposte per il conseguimento degli scopi dell'associazione, demandandone l'operatività al Presidente.<br>
13. Ratificare tutte le iniziative assunte autonomamente dal Presidente.<br>
<br>
<strong>Articolo 10 (Il Presidente)</strong><br>
Il Presidente è eletto tra i componenti del Consiglio Direttivo.<br>
Il Presidente è scelto tra i soci fondatori e solo in presenza di rifiuto di tutti i soci fondatori, potrà essere scelto tra i soci ordinari. Esso dura in carica fino al termine del mandato, salvo revoca di almeno due terzi del Consiglio Direttivo.<br>
Il Presidente è il legale rappresentante dell'associazione di fronte ai terzi ed in giudizio. Esegue tutte le delibere del Consiglio Direttivo e dell'assemblea dei soci. Preside e convoca il lavori dell'assemblea generale e del Consiglio Direttivo, stabilendo l'ordine del giorno.<br>
Qualora ne ravvisi l'urgenza o la necessità, il Presidente ha potestà autonoma di iniziativa e il suo operato sarà posto all'approvazione o ratifica del Consiglio Direttivo. Può attivare qualsiasi iniziativa per il raggiungimento degli scopi dell'associazione.<br>
Accerta che si operi in conformità agli interessi dell'associazione. Può nominare un Vicepresidente di sua fiducia che, in caso di impedimento o assenza provvisoria del Presidente, assume suoi poteri sempre su delega espressa dello stesso ed in via provvisoria.<br>
Può delegare alcuni soci di stretta fiducia al compimento di determinate attività stabilite dal Presidente stesso per il raggiungimento dei fini dell'associazione.<br>
Può costituire un suo ufficio per raggiungere i fini dell'associazione (ufficio di presidenza). Dispone dei fondi sociali con successiva ratifica del Consiglio Direttivo.<br>
Assegna incarichi esecutivi di settore e le specifiche attività per il raggiungimento dei fini dell'associazione con comunicazione al Consiglio Direttivo; i soggetti in questione rispondono del loro operato.<br>
Accetta le domande di ammissione a socio. Accetta le dimissioni da socio.</p>
<p><strong>Articolo 11 (Il Segretario Amministrativo)</strong><br>
Il Segretario Amministrativo cura gli adempimenti della gestione patrimoniale, dei conti correnti bancari o postali intestati all'associazione, sottoponendo il tutto alla firma del Presidente.<br>
È nominato direttamente dal Presidente tra uno dei soci fondatori o ordinari in relazione allo stretto rapporto di fiducia che deve intercorrere tra presidente e lo stesso.</p>
<p><strong>Articolo 12 (Scioglimento dell'Associazione)</strong><br>
L'assemblea delibera lo scioglimento dell'associazione quando gli scopi sociali vengono meno ed in ogni caso in cui lo ritenga necessario o opportuno.<br>
La destinazione del patrimonio è stabilita dal regolamento interno, rispettando sempre i principi e gli scopi propri dell'associazione.</p>
<p><strong>Articolo 13 (Patrimonio Sociale)</strong><br>
Il patrimonio dell'associazione è costituito da:<br>
1. le quote sociali;<br>
2. i contributi ed elargizioni dei soci, dello Stato, degli Enti locali, degli Enti pubblici o privati, dei terzi;<br>
3. le sovvenzioni e i fondi di riserva,<br>
4. ogni bene mobile od immobile appartenente all'Associazione (pervenuto per acquisto, donazione, lascito, o altro titolo);<br>
5. ogni altra entrata che concorra ad incrementare le attività sociali, purché non condizioni i fini dell'associazione. Il patrimonio sociale è indivisibile. È vietato distribuire - anche in modo indiretto - utili e avanzi di gestione, nonché fondi, riserve o capitale durante la vita dell'associazione, salvo che la destinazione o la distribuzione non siano imposte dalla legge.</p>
<p><strong>Articolo 14 (inesistente)*</strong></p>
<p><strong>Articolo 15 (Rendiconto Economico e Finanziario)</strong><br>
Il rendiconto economico e finanziario comprende l'esercizio sociale dal 1 gennaio al 31 dicembre di ogni anno e deve essere presentato all'assemblea entro il 31 marzo dell'anno successivo; il rendiconto dovrà essere approvato entro il 3 maggio di ogni anno.</p>
<p><strong>Articolo 16 (Norma Transitoria)</strong><br>
Fino alla convocazione della prima assemblea generale il consiglio direttivo assume tutte le funzioni dell'assemblea generale dei soci come specificate nell'art. 8 del presente statuto.<br>
Il Consiglio Direttivo durante questo periodo potrà cooptare a far parte dello stesso consiglio, nei limiti numerici stabiliti nell'art. 9 dello statuto, altri soci, su valutazione obiettiva dell'impegno profuso nell'attività associativa.<br>
Il Consiglio Direttivo e il Presidente rimangono in carica fino alla convocazione dell'assemblea generale dei soci, per il rinnovo delle cariche sociali.<br>
<br>
Firmato:<br>
Vittorio Alvino; Guglielmo Celata; Ettore Di Cesare; Gianluca Canale; Salvatore Santalucia; Antonello Faraone Notaio.</p>
<p> </p>
<p><strong>*</strong> <strong>Al momento della trascrizione dell'ultima versione dello Statuto da parte del notaio l'art. 14</strong> <strong>è stato soppresso e i successivi non sono stati rinominati. Quindi il 14, non esiste.<br></strong></p>

<br/>
{% endblock %}