{% extends "layout.html" %}

{% block title %} - Statuto dell'associazione {% endblock %}

{% block content %}

  <section>
    <h2>Lo statuto</h2>

    <p>
      “Art. 2 - L'Associazione promuove la cultura e la pratica della trasparenza pubblica quale presupposto
      per diffondere forme di governo basate sull'apertura delle istituzioni da un lato e, dall'altro,
      sulla consapevolezza e sulla partecipazione dei cittadini.
      A tal fine l'Associazione favorisce l'esercizio del diritto di accesso ai dati e alle informazioni
      di interesse collettivo perché siano effettivamente pubblici, a disposizione di chiunque e senza limitazioni.”
    </p>
    <a href="{{ STATIC_URL }}doc/openpolis-statuto-30maggio2012.pdf">
      > Statuto dell’associazione
    </a> (File Pdf 93 kb)
  </section>


  <h2>I bilanci</h2>
  <p>
    Potete scaricare il bilancio dell'associazione per l'anno fiscale 2012.
  </p>
  <p>
    <a href="{{ STATIC_URL }}doc/openpolis-bilancio-2012.pdf">
      > Bilancio 2015
    </a> (File Pdf 313 kb)
  </p>

  <p>
    Nel 2015 abbiamo raccolto ... euro con la campagna associativa e altri ricavi per ... euro.
    Il 20% sono impiegati a coprire i costi di gestione,
    l’80% è completamente reinvestito nei nostri progetti e nelle nostre campagne.
  </p>

{% endblock %}
