{% extends "layout.html" %}

{% block content %}

<div class="container" style="margin: 20px 0">
  <div class="alert alert-error">OOPS! La pagina richiesta non è stata trovata.</div>

  <div>
    <p>Potresti aver digitato un indirizzo errato, oppure aver fatto click su un link esterno non corretto.</p>
    
    <p>Puoi <a href="#" onclick="javascript:history.back(); return false;">tornare alla pagina che stavi visitando</a> prima di questo errore.</p>

    <p>Altrimenti, puoi tornare alla <a href="/">home page</a>.</p>
    
  </div>
</div>    
    
{% endblock %}

{% block fblike %}{% endblock %}
