{% extends "layout.html" %}

{% block content %}

<div class="container" style="margin: 20px 0">
  <div class="alert alert-error">OOPS! Ci dispiace, si è verificato un errore nei nostri server</div>

  <div>
    <p>Puoi <a href="#" onclick="javascript:history.back(); return false;">tornare alla pagina che stavi visitando</a> prima di questo errore.</p>

    <p>Altrimenti, puoi tornare alla <a href="/">home page</a>.</p>
    
  </div>
</div>    
    
{% endblock %}

{% block fblike %}{% endblock %}

