{% extends "layout.html" %}

{% block content %}

<div class="container" style="margin: 20px 0">
  <div class="alert alert-error">OOPS! Ci dispiace, si è verificato un errore nei nostri server</div>

  <div>
    <p>Puoi aiutarci a risolvere il problema, <a href="/contatti">contattandoci</a> per comunicare cosa stavi facendo quando si è verificato l'errore.</p>

    <p>Altrimenti, puoi <a href="#" onclick="javascript:back(); return false;">tornare alla pagina che stavi visitando</a> prima di questo errore.</p>

    <p>Infine, puoi sempre tornare alla <a href="/">home page</a>.</p>
    
  </div>
</div>    
    
{% endblock %}

{% block fblike %}{% endblock %}

