<!--  Main Footer -->
<footer class="container-fluid">
  <div class="container">
    <section class="row" id="global-navigation">            
        <nav class="span3">
            <h4>L'Associazione OpenCorato</h4>
            <ul class="dotted-list">
                <li><a href="http://associazione.opencorato.org/chi-siamo/">Chi siamo e cosa facciamo</a></li>
                <li><a href="http://associazione.opencorato.org/statuto/">Statuto e bilanci</a></li>
                {% comment %}
                <li><a href="{{ STATIC_URL }}doc/openpolis-bilancio-2011.pdf">Bilancio 2011</a></li>
                <li><a href="http://associazione.opencorato.org/faq">FAQ</a></li>
                {% endcomment %}
            </ul>
            <h4>Sostienici</h4>
            <ul class="dotted-list">
                <li><a href="http://associazione.opencorato.org/sostienici/">Diventa socio</a></li>
                <li><a href="http://associazione.opencorato.org/dona/">Fai una donazione</a></li>
                <li><a href="http://associazione.opencorato.org/5xmille/">5xmille</a></li>
            </ul>
        </nav>
        <nav class="span3">
            <h4>Progetti online</h4>
            <ul class="dotted-list">
                <li><a href="https://github.com/opencorato/op_associazione">Open Associazione</a></li>
                <li><a href="https://github.com/opencorato/oc_opencorato">Open Municipio Corato</a></li>
                <li><a href="https://github.com/opencorato/agendatransparencia">Agendatrasparencia</a></li>
                <li><a href="https://github.com/opencorato/open_ricostruzione">Open Ricostruzione</a></li>
                <li><a href="https://poplus.org">PopLus</a></li>
                <li><a href="http://blog.openpolis.it">OpenCorato blog</a></li>
            </ul>
        </nav>
        <section class="span3">
            <h4>Software Libero</h4>
            <ul class="dotted-list">
                <li><a href="https://github.com/openpolis/">Codice sorgente</a></li>
                <li><a href="http://www.gnu.org/copyleft/gpl.html">Licenza GNU/GPL</a></li>
            </ul>

        </section>
        <section class="span3">
            <h4>Restiamo in contatto</h4>
            <p>Per segnalazioni, suggerimenti, lamentele ma anche incoraggiamenti:</p>
            <h4>Associazione OdV OpenCorato</h4>
            <p>via Giuseppe Verdi 41 - 70033 Corato<br />
                T. 080.0000000 <span class="email-nascosta">opencorato[chioccia]gmail[punto]com</span> <br /> 
                C.I. 93460960722
            </p>
            <a href="http://www.facebook.com/opencorato"><span class="icon facebook">Facebook</span></a>
            <a href="http://feeds.feedburner.com/openpolis"><span class="icon feed">Feed RSS</span></a>
        </section>            
    </section>
    

    {% include "footer_navigation.html" %}    
  </div>


  <a href="http://blog.openpolis.it/argomenti/foia/">
    <img src="http://s3-eu-west-1.amazonaws.com/op-images/openpolis_supporta_foia.png" style="position:absolute; top:0; right:0; border:0;"
         alt="Freedom of Information Act in Italia, subito!" title="Freedom of Information Act in Italia, subito!" />
    <a/>
</footer>
<!--  /Main Footer -->
