<!--  Main Footer -->
<footer class="container-fluid">
  <div class="container">
    <section class="row" id="global-navigation">            
        <nav class="span3">
            <h4>L'Associazione Openpolis</h4>
            <ul class="dotted-list">
                <li><a href="http://www.openpolis.it/chi-siamo/">Chi siamo e cosa facciamo</a></li>
                <li><a href="http://www.openpolis.it/faq">FAQ</a></li>
            </ul>
            <h4>Sostienici</h4>
            <ul class="dotted-list">
                <li><a href="http://www.openpolis.it/sostienici/">Diventa socio</a></li>
                <li><a href="http://www.openpolis.it/sostienici/dona/">Fai una donazione</a></li>
                <li><a href="http://www.openpolis.it/sostienici/collabora/">Collabora con noi</a></li>
            </ul>
        </nav>
        <nav class="span3">
            <h4>Progetti online</h4>
            <ul class="dotted-list">
                <li><a href="http://www.openparlamento.it/">Open parlamento</a></li>
                <li><a href="http://politici.openpolis.it/">Open politici</a></li>
                <li><a href="http://indice.openpolis.it/">Indice di produttività parlamentare</a></li>
                <li><a href="http://www.voisietequi.it/">Voi siete qui</a></li>
                <li><a href="http://blog.openpolis.it">Open blog</a></li>
            </ul>
        </nav>
        <section class="span3">
            <h4>Software Libero</h4>
            <ul class="dotted-list">
                <li><a href="http://trac.openpolis.it/openpolis/browser/trunk">Codice Sorgente</a></li>
                <li><a href="http://www.gnu.org/copyleft/gpl.html">Licenza GNU/GPL</a></li>
            </ul>
            <a href="https://github.com/openpolis/op_associazione"><span class="icon trac">Git</span></a>
            <div class="clearfix"></div>
        </section>
        <section class="span3">
            <h4>Restiamo in contatto</h4>
            <p>Per segnalazioni, suggerimenti, lamentele ma anche incoraggiamenti:</p>
            <h4>Associazione Openpolis</h4>
            <p>via dei Sabelli 215 - 00185 Roma<br />
                T. 06.83608392 <span class="email-nascosta">associazione[chioccia]openpolis[punto]it</span> <br /> 
                C.I. 97532050586
            </p>
            <a href="http://www.facebook.com/openpolis"><span class="icon facebook">Facebook</span></a>
            <a href="http://feeds.feedburner.com/openpolis"><span class="icon feed">Feed RSS</span></a>
            <a href="http://twitter.com/openpolis"><span class="icon twitter">Twitter</span></a>
        </section>            
    </section>
    

    <nav id="sub-footer" class="row">
        <ul class="span12" style="text-align: center">
            <li><img src="/static/img/footers/openpolis.png" alt="Servizi offerti da OpenPolis" title="I Servizi" /></li>
            <li><a href="http://parlamento.openpolis.it"><img src="/static/img/footers/openparlamento.png" alt="Open Parlamento" title="Open Parlamento" /></a></li>
            <li><a href="http://politici.openpolis.it"><img src="/static/img/footers/openpolitici.png" alt="Open politici" title="Open politici" /></a></li>
            <li><a href="http://voisietequi.openpolis.it"><img src="/static/img/footers/voisietequi.png" alt="Voi Siete Qui" title="Voi Siete Qui" /></a></li>
            <li><a href="http://indice.openpolis.it/"><img src="/static/img/footers/indiceproduttivita.png" alt="L'Indice di Produttività Parlamentare" title="L'Indice di Produttività Parlamentare" /></a></li>
        </ul>            
    </nav>    
  </div>

</footer>
<!--  /Main Footer -->