<nav id="sub-footer" class="row">
    <ul class="span12" style="text-align: center">
        <li><a href="http://www.openpolis.it"><img src="/static/img/footers/openpolis.png" alt="Sito dell'associazione OpenPolis" title="Associazione Openpolis" /></a></li>
        <li><a href="http://parlamento.openpolis.it"><img src="/static/img/footers/openparlamento.png" alt="Open Parlamento" title="Open Parlamento" /></a></li>
        <li><a href="http://politici.openpolis.it"><img src="/static/img/footers/openpolitici.png" alt="Open politici" title="Open politici" /></a></li>
        <li><a href="http://voisietequi.openpolis.it"><img src="/static/img/footers/voisietequi.png" alt="Voi Siete Qui" title="Voi Siete Qui" /></a></li>
        <li><a href="http://www.openbilanci.it/"><img src="/static/img/footers/openbilanci.png" alt="Open Bilanci" title="Open Bilanci" /></a></li>
        <li><a href="http://www.openmunicipio.it/"><img src="/static/img/footers/openmunicipio.png" alt="Open municipio" title="Open municipio" /></a></li>
    </ul>            
</nav>
