<!DOCTYPE html>
<html lang="it"{% block html_fixtures %}{% endblock %}>
  <head>
    <meta charset="utf-8"/>
    <title>OpenCorato{% block title %}{% endblock %}</title>
    <meta name="description" content="Sito dell'Associazione OpenCorato"/>
    <meta name="author" content="Associazione OpenCorato"/>
    <meta name="google-site-verification" content="pUD79-TXeNtrU29AiD3HTRt4bntUyBBrGtA5prUo2oM" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% block css_styles %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/component.css" />


    {% endblock %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <!--
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png"/>
    -->

  {% block social_tags %}

  {% endblock %}


  </head>

  <body>
    <header style="padding: 5px 110px">
      <div class="row">
          <h1 class="span12">
              <a href="/"><img src="/static/img/logo.png" alt="Titolo" id="logo"></a>
          </h1>
      </div>
    </header>

    <nav class="navbar navbar-static">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse offset1">
            {% block nav %}
            {% include "nav.html"%}
            {% endblock nav %}
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </nav>
    
    {% block payoff %}{% endblock %}

    {% block alerts %}
        {% if subscription_form %}
            <div class="container">
            <div class="row">
            <div class="span12">
            {% if not subscription_form.is_valid %}
                <div{% if message.tags %} class="alert subscription_alert alert-{{ message.tags }}"{%else %} class="subscription_alert alert"{% endif %}>
                    <strong>Attenzione!</strong>
                    Ci sono errori nel form, controlla i valori inseriti <a href="#subscription_form">nel form</a>
                </div>
            {% else %}
                <div class="alert subscription_alert alert-success">
                    Iscrizione avvenuta correttamente.
                </div>
            {% endif %}
            </div></div></div>
        {% else %}
            {% if messages %}
                <div class="container">
                    {% for message in messages %}
                        {% if 'email' not in message.tags %}
                            <div class="row"  style="margin-top: 1em">
                                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{%else %} class="alert"{% endif %}>
                                    <strong>Attenzione!</strong>
                                    {{ message }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        {% endif %}

    {% endblock %}
    
    {% block article %}
        {% block header_image %}
        {% endblock %}
    <!--  Main Content -->
    <article id="main" class="container">
        {% block article_head %}{% endblock %}       
        <div class="row">
            <div class="span8">{% block content %}{% endblock %}</div>
            <div class="span4">{% block sidebar %}{% endblock %}</div>
        </div>
    </article>
    <!--  /Main Content -->
    {% endblock %}

    {% block extra_content %}{% endblock %}

    <div id="fb-root"></div>
    {% block fblike %}
      <section id="fblike" class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div>
            </div>
          </div>
        </div>
      </section>
    {% endblock %}
    
    {% block buzz %}{% endblock %}
    
    {% block footer %}
    {% include "footer.html"%}
    <a href="https://plus.google.com/109143685236616102347" rel="publisher" style="display:none">Google+</a>
    {% endblock footer %}

    {% block js_footer %}
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <!--script src="/static/js/jquery-1.7.1.min.js"></script-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/modernizr.custom.js"></script>
      <script src="/static/js/grid.js"></script>
      <script type="text/javascript">
			jQuery(function() {
				Grid.init();
			});
      </script>
      {% block js_custom %}
 
      {% endblock %}

      <!-- 5xmille  -->
      <script src="https://s3.eu-central-1.amazonaws.com/op-5xmille/5xmille.js"></script>
      <script type="text/javascript">
          jQuery(document).on('click','.close_box',function(){
            jQuery(this).parent().fadeTo(300,0,function(){
                  jQuery(this).remove();
            });
          });
      </script>
      <!-- end5xmille  -->

      <script type="text/javascript">
          jQuery('.email-nascosta').each(function(){ jQuery(this).text(jQuery(this).text().replace('[chioccia]', '@').replace('[punto]','.')); });
      </script>


      <script src="/static/js/cookiechoices.js"></script>
      <script>
        /*
        document.addEventListener('DOMContentLoaded', function(event) {
          cookieChoices.showCookieConsentBar('Questo sito utilizza i cookies',
          'Chiudi', 'Leggi di più', 'http://www.openpolis.it/cookiepolicy');
        });
        */
      </script>

      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
      <!-- Google Analytics -->
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-980632-14']);
        _gaq.push(['_setDomainName', 'openpolis.it']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    {% endblock %}


  </body>
</html>
