{% load cms_extras %}
<section id="navigation" class="container">        
    <div class="row">
        <nav class="prefixone eightcol">
            <ul id="menu">
                <li><a href="{% url about-us %}"{% is_active "about-us" "current" %}>Chi siamo</a></li>
                <li>
                    <a href="#"{% is_active "progetti" "current" %}>Progetti</a>
                    <ul>
						{% for p in projects %}
						{% if progetto  %}
                        <li><a href="{{ p.get_absolute_url }}" class="current">{{ p.title }}</a></li>
						{% else %}
						<li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
						{% endif %}
						{% endfor %}
                    </ul>
                </li>
                <li>
					<a href="#"{% is_active "dossier" "current" %}>Dossier</a>
					<ul>
						{% for d in dossiers %}
						{% if dossier  %}
                        <li><a href="{{ d.get_absolute_url }}" class="current">{{ d.title }}</a></li>
						{% else %}
						<li><a href="{{ d.get_absolute_url }}">{{ d.title }}</a></li>
						{% endif %}
						{% endfor %}
                    </ul>
	
				</li>
                <li><a href="http://blog.openpolis.it">Openblog</a></li>
                <li>
					<a href="#"{% is_active "subscribe" "current" %}><img src="/static/img/icons/love.png" class="sostienici" />Sostienici</a>
					<ul>
						<li><a href="{% url subscribe %}">Diventa socio</a></li>
						<li><a href="{% url subscribe-other page_slug='dona' %}">Fai una donazione</a></li>
						<li><a href="{% url subscribe-other page_slug='collabora' %}">Collabora con noi</a></li>
					</ul>
				</li>
            </ul>
        </nav>

        <section id="search-box" class="threecol last">
            <form action="/ricerca/" method="POST">
                <input type="search" name="search" placeholder="Cerca nel sito" />
                <input type="submit" value="Cerca" />
				{% csrf_token %}
            </form>					
        </section>            
    </div>
</section>