{% load cms_extras %}

        <ul class="nav" style="margin-left: -10px">
          <li{% is_active "about-us" "dropdown active" "dropdown" %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Associazione <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url about-us %}">Chi siamo</a></li>
              <li><a href="{% url static-page page_slug='statuto' %}">Statuto e bilancio</a></li>
            </ul>
          </li>
          <li {% is_active "campagne" "dropdown active" "dropdown" %}>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Campagne <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="http://parlamentocasadivetro.openpolis.it">Parlamento Casa di vetro</a></li>
              </ul>
          </li>
          <li{% is_active "progetti" "dropdown active" "dropdown" %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Progetti <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for p in projects %}
                {% if page == p  %}
                  <li class="active"><a>{{ p.title }}</a></li>
                {% else %}
                  <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>

          <li{% is_active "dossier" "dropdown active" "dropdown" %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dossier <b class="caret"></b></a>
            <ul class="dropdown-menu" style="max-width: 320px">
              {% for d in dossiers %}
                {% if page == d  %}
                  <li class="active"><a>{{ d.title }}</a></li>
                {% else %}
                  <li><a href="{{ d.get_absolute_url }}">{{ d.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          
          <li><a href="http://blog.openpolis.it">Open blog</a></li>

          <li{% is_active "subscribe" "dropdown active" "dropdown" %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-heart icon-white"></i> Sostienici <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% if current_route_name == 'subscribe'%}
                <li class="active"><a>Diventa socio</a></li>
              {% else %}
                <li><a href="{% url subscribe %}">Diventa socio</a></li>
              {% endif %}

              {% if current_route_name == 'subscribe-renewal-request'%}
                <li class="active"><a>Rinnova la tua iscrizione</a></li>
              {% else %}
                <li><a href="{% url subscribe-renewal-request %}">Rinnova la tua iscrizione</a></li>
              {% endif %}
              
              {% if page_slug == 'dona' %}
                <li class="active"><a>Fai una donazione</a></li>
              {% else %}
                <li><a href="{% url subscribe-other page_slug='dona' %}">Fai una donazione</a></li>
              {% endif %}
              
              {% if  page_slug == 'collabora' %}
                <li class="active"><a>Collabora con noi</a></li>
              {% else %}
                <li><a href="{% url subscribe-other page_slug='collabora' %}">Collabora con noi</a></li>
              {% endif %}

                {% if  page_slug == '5xmille' %}
                    <li class="active"><a>5 x mille</a></li>
                {% else %}
                    <li><a href="{% url 5xmille %}">5 x mille</a></li>
                {% endif %}
            </ul>
          </li>
          
          
        </ul>
        
        <ul class="nav pull-right">
            <li><a href="{% url static-page page_slug='eng' %}">English Version</a></li>
        </ul>
