<blockquote>
  <p>
  Come ha dimostrato l'esperienza di Openpolis, l'accesso ai dati che
  riguardano i rappresentanti dello Stato può aiutare la democrazia
  </p>
  <small>Wired, 8 febbraio 2011</small>
</blockquote>
<blockquote>
  <p>
    Le amministrazioni non sempre hanno consapevolezza del loro patrimonio
    informativo. Occorre quindi censire i database nascosti nei server o
    tra gli scaffali degli uffici pubblici. Tuttavia, qualche cosa si sta
    muovendo anche grazie ad associazioni come Openpolis che ha
    organizzato database sulla trasparenza della politica e permette di
    monitorare i nostri rappresentanti attraverso appositi siti internet.
  </p>
  <small>Il Sole 24 Ore, 12 Maggio 2011</small>
</blockquote>
