<blockquote>
  <p>
  Ha una lunga storia, invece, Openpolis: abilita la collaborazione per raccogliere 
  informazioni sulla politica e la pubblica amministrazione. 
  Nei suoi archivi racchiude anche i discorsi in Parlamento. 
  È un tesoro di dati accessibile per la consultazione che ha incentivato 
  l'analisi statistica sull'attività di Camera e Senato.
  </p>
  <small>Il Sole 24 ore 26 febbraio 2012</small>
</blockquote>
<blockquote>
  <p>
    We would like this to become a compulsory thing to do for everyone in politics
  </p>
  <small>BBC, 22 febbraio 2012</small>
</blockquote>
