{% extends "layout.html" %}
{% load markup %}

{% block title %} - Modulo di iscrizione {% endblock %}

{% block article %}

<article id="main" class="container">       
    <div class="row">
        <div class="span12">
      <h1>Richiesta di iscrizione all’associazione OpenCorato come {{ member_type|capfirst }}</h1>
      <small>I Campi con * sono obbligatori</small>

      {% if membership_form.errors or associate_form.errors %}
        {% if email_known %}
          <div class="alert alert-error">
            <strong>Attenzione!</strong> 
            Il tuo indirizzo email è già nei nostri archivi. Procedi al <a href="/rinnovo-iscrizione?email={{associate_form.email.value}}">rinnovo della tua iscrizione</a>.
          </div>
        {% else %}
          <div class="alert alert-error">
            <strong>Attenzione!</strong> 
            C'&egrave; qualche errore nella compilazione del form. 
            Controlla ci&ograve; che &egrave; segnalato in rosso.
          </div>
        {% endif %}
      {% endif %}

      <form class="action={% url subscribe-module member_type=member_type %}" 
            id="subscribe_form" method="post">
          {% csrf_token %}

          <fieldset>

            <legend>Dati di iscrizione</legend>

            <label>{{ membership_form.type_of_membership.label_tag }}</label>
            {{ membership_form.type_of_membership }}
            <span class="help-inline">{{membership_form.type_of_membership.help_text}}</span>

            <div class="control-group {% if membership_form.fee.errors %}error{% endif %}">
              <label for="id_{{ membership_form.fee.html_name }}">*{{ membership_form.fee.label }}</label>
              <span class="input-append">
                {{ membership_form.fee }}
                <span class="add-on">,00</span>
              </span>
              <span class="help-inline">
                {% if membership_form.fee.errors %}
                  {% for error in membership_form.fee.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% else %}
                  {{membership_form.fee.help_text}}
                {% endif %}
              </span>
            </div>

            <label class="checkbox" for="id_{{ membership_form.public_subscription.html_name}}">
              {{ membership_form.public_subscription }}
              {{ membership_form.public_subscription.help_text }}
            </label>

          </fieldset>

          {% block associate_extra %}{% endblock%}


          <fieldset>
            
            <legend>{% block associate_details_title %}Dati personali{% endblock %}</legend>

            <div class="control-group {% if associate_form.first_name.errors %}error{% endif %}">
              <label for="id_{{ associate_form.first_name.html_name }}">*{{ associate_form.first_name.label }}</label>
              {{ associate_form.first_name }}
              <span class="help-inline">
                {% if associate_form.first_name.errors %}
                  {% for error in associate_form.first_name.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.last_name.errors %}error{% endif %}">
              <label for="id_{{ associate_form.last_name.html_name }}">*{{ associate_form.last_name.label }}</label>
              {{ associate_form.last_name }}
              <span class="help-inline">
                {% if associate_form.last_name.errors %}
                  {% for error in associate_form.last_name.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.birth_date.errors %}error{% endif %}">
              <label for="id_{{ associate_form.birth_date.html_name }}">*{{ associate_form.birth_date.label }}</label>
              {{ associate_form.birth_date }}
              <span class="help-inline">
                {% if associate_form.birth_date.errors %}
                  {% for error in associate_form.birth_date.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.gender.errors %}error{% endif %}">
              <label for="{{ associate_form.gender.html_name }}">*{{ associate_form.gender.label }}</label>
              <div class="controls">
                {{ associate_form.gender }}
                <span class="help-inline">
                  {% if associate_form.gender.errors %}
                    {% for error in associate_form.gender.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>
            </div>          

            <div class="control-group {% if associate_form.fiscal_code.errors %}error{% endif %}">
              <label for="id_{{ associate_form.fiscal_code.html_name }}">*{{ associate_form.fiscal_code.label }}</label>
              {{ associate_form.fiscal_code }}
              <span class="help-inline">
                {% if associate_form.fiscal_code.errors %}
                  {% for error in associate_form.fiscal_code.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% else %}
                  {{associate_form.fiscal_code.help_text}}
                {% endif %}
              </span>
            </div>

          </fieldset>


          <fieldset>
            <legend>
              {% block main_address_title %}Indirizzo di residenza{% endblock %}
            </legend>

            <div class="control-group {% if associate_form.street.errors %}error{% endif %}">
              <label for="id_{{ associate_form.street.html_name }}">*{{ associate_form.street.label }}</label>
              {{ associate_form.street }}
              <span class="help-inline">
                {% if associate_form.street.errors %}
                  {% for error in associate_form.street.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.civic_nb.errors %}error{% endif %}">
              <label for="id_{{ associate_form.civic_nb.html_name }}">*{{ associate_form.civic_nb.label }}</label>
              {{ associate_form.civic_nb }}
              <span class="help-inline">
                {% if associate_form.civic_nb.errors %}
                  {% for error in associate_form.civic_nb.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.zip_code.errors %}error{% endif %}">
              <label for="id_{{ associate_form.zip_code.html_name }}">*{{ associate_form.zip_code.label }}</label>
              {{ associate_form.zip_code }}
              <span class="help-inline">
                {% if associate_form.zip_code.errors %}
                  {% for error in associate_form.zip_code.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.location.errors %}error{% endif %}">
              <label for="id_{{ associate_form.location.html_name }}">*{{ associate_form.location.label }}</label>
              {{ associate_form.location }}
              <span class="help-inline">
                {% if associate_form.location.errors %}
                  {% for error in associate_form.location.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.province.errors %}error{% endif %}">
              <label for="id_{{ associate_form.province.html_name }}">*{{ associate_form.province.label }}</label>
              {{ associate_form.province }}
              <span class="help-inline">
                {% if associate_form.province.errors %}
                  {% for error in associate_form.province.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <div class="control-group {% if associate_form.country.errors %}error{% endif %}">
              <label for="id_{{ associate_form.country.html_name }}">*{{ associate_form.country.label }}</label>
              {{ associate_form.country }}
              <span class="help-inline">
                {% if associate_form.country.errors %}
                  {% for error in associate_form.country.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>
            
          </fieldset>


          <fieldset>
            <legend>
              Indirizzo di spedizione della tessera
            </legend>

            <div class="control-group {% if associate_form.exp_address_provided.errors %}error{% endif %}">
              <label class="checkbox">
                {{ associate_form.exp_address_provided }}
                <div>E' diverso dall'indirizzo di residenza</div>
              </label>
              <span class="help-inline">
                {% if associate_form.exp_address_provided.errors %}
                  {% for error in associate_form.exp_address_provided.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>
            
            <div id="hiddenField" {% if not associate_form.exp_address_provided.value %}style="display:none;"{% endif %}>

              <div class="control-group {% if associate_form.exp_street.errors %}error{% endif %}">
                <label for="id_{{ associate_form.exp_street.html_name }}">*{{ associate_form.exp_street.label }}</label>
                {{ associate_form.exp_street }}
                <span class="help-inline">
                  {% if associate_form.exp_street.errors %}
                    {% for error in associate_form.exp_street.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>

              <div class="control-group {% if associate_form.exp_civic_nb.errors %}error{% endif %}">
                <label for="id_{{ associate_form.exp_civic_nb.html_name }}">*{{ associate_form.exp_civic_nb.label }}</label>
                {{ associate_form.exp_civic_nb }}
                <span class="help-inline">
                  {% if associate_form.exp_civic_nb.errors %}
                    {% for error in associate_form.exp_civic_nb.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>

              <div class="control-group {% if associate_form.exp_zip_code.errors %}error{% endif %}">
                <label for="id_{{ associate_form.exp_zip_code.html_name }}">*{{ associate_form.exp_zip_code.label }}</label>
                {{ associate_form.exp_zip_code }}
                <span class="help-inline">
                  {% if associate_form.exp_zip_code.errors %}
                    {% for error in associate_form.exp_zip_code.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>

              <div class="control-group {% if associate_form.exp_location.errors %}error{% endif %}">
                <label for="id_{{ associate_form.exp_location.html_name }}">*{{ associate_form.exp_location.label }}</label>
                {{ associate_form.exp_location }}
                <span class="help-inline">
                  {% if associate_form.exp_location.errors %}
                    {% for error in associate_form.exp_location.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>

              <div class="control-group {% if associate_form.exp_province.errors %}error{% endif %}">
                <label for="id_{{ associate_form.exp_province.html_name }}">*{{ associate_form.exp_province.label }}</label>
                {{ associate_form.exp_province }}
                <span class="help-inline">
                  {% if associate_form.exp_province.errors %}
                    {% for error in associate_form.exp_province.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>

              <div class="control-group {% if associate_form.exp_country.errors %}error{% endif %}">
                <label for="id_{{ associate_form.exp_country.html_name }}">*{{ associate_form.exp_country.label }}</label>
                {{ associate_form.exp_country }}
                <span class="help-inline">
                  {% if associate_form.exp_country.errors %}
                    {% for error in associate_form.exp_country.errors %}
                        {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                </span>
              </div>
            
            </div>
            
          </fieldset>



          <fieldset>
            <legend>Contatti</legend>

            <div class="control-group {% if associate_form.email.errors %}error{% endif %}">
              <label for="id_{{ associate_form.email.html_name }}">*{{ associate_form.email.label }}</label>
              <div class="input-prepend">
                <span class="add-on">@</span>
                {{ associate_form.email }}
              </div>
              <span class="help-inline">
                {% if associate_form.email.errors %}
                  {% for error in associate_form.email.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

            <label class="checkbox">
              {{ associate_form.wants_newsletter }}
              <div>{{ associate_form.wants_newsletter.help_text }}</div>
            </label>
            
            <br>
            
            <div class="control-group {% if associate_form.phone_number.errors %}error{% endif %}">
              <label for="id_{{ associate_form.phone_number.html_name }}">{{ associate_form.phone_number.label }}</label>
              <div class="input-prepend">
                <span class="add-on">Tel</span>
                {{ associate_form.phone_number }}
              </div>
              <span class="help-inline">
                {% if associate_form.phone_number.errors %}
                  {% for error in associate_form.phone_number.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% endif %}
              </span>
            </div>

          </fieldset>
          
          {% block associate_contact_extra %}{% endblock%}

          <div class="orange">
            <fieldset>
              

              <div class="control-group {% if associate_form.accept_policy.errors %}error{% endif %}">
                <label class="checkbox">
                  {{ associate_form.accept_policy }}
                  <div>Approvo i principi e le regole dello <a href="{% url static-page page_slug='statuto' %}" target="_blank">statuto dell'Associazione Openpolis</a></div>
                </label>
                {% if associate_form.accept_policy.errors %}
                <span class="help-inline">
                    {% for error in associate_form.accept_policy.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </span>
                {% endif %}
              </div>
            </fieldset>


            <fieldset>
              

              <div class="control-group {% if associate_form.accept_privacy_policy.errors %}error{% endif %}">
                <label class="checkbox">
                  {{ associate_form.accept_privacy_policy }}
                  <div>Autorizzo l'Associazione OpenCorato al trattamento dei miei dati personali per gli scopi indicati nell'<a href="{% url static-page page_slug='privacy' %}" target="_blank">apposita informativa</a></div>
                </label>
                {% if associate_form.accept_privacy_policy.errors %}
                <span class="help-inline">                
                    {% for error in associate_form.accept_privacy_policy.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </span>
                {% endif %}
              </div>
            </fieldset>
            
          </div>

      <input type="submit" class="btn btn-primary" value="Invia" id="submit_button" />
      </form>

        </div>
    </div>
</article>


{% endblock %}

{% block css_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/css/ui-lightness/jquery-ui-1.8.17.custom.css" />
  <style>
    .orange {
      background-color: #FCF8C5;
      padding: 1em;
      margin-bottom: 2em;
    }
    #id_fee {
      text-align: right;
    }
  </style>
{% endblock %}


{% block js_footer %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.17.datepicker.min.js"></script>
    
    <script>
    /* Italian initialisation for the jQuery UI date picker plugin. */
    /* Written by Antonello Pasella (antonello.pasella@gmail.com). */
    $(function(){
        $.datepicker.regional['it'] = {
            closeText: 'Chiudi',
            prevText: '&#x3c;Prec',
            nextText: 'Succ&#x3e;',
            currentText: 'Oggi',
            monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno',
                'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre'],
            monthNamesShort: ['Gen','Feb','Mar','Apr','Mag','Giu',
                'Lug','Ago','Set','Ott','Nov','Dic'],
            dayNames: ['Domenica','Luned&#236','Marted&#236','Mercoled&#236','Gioved&#236','Venerd&#236','Sabato'],
            dayNamesShort: ['Dom','Lun','Mar','Mer','Gio','Ven','Sab'],
            dayNamesMin: ['Do','Lu','Ma','Me','Gi','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['it']);
    });
    
    $(function() {
            $( "input.datepicker" ).datepicker({ 
                    dateFormat: 'dd/mm/yy', 
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1900:+0"
            });
            
            $( '#id_exp_address_provided' ).click(function() {
                $('#hiddenField').slideToggle();
                if (!$(this).attr('checked')) {
                  // reset fields when unchecking
                  $('#id_exp_street').val("");
                  $('#id_exp_civic_nb').val("");
                  $('#id_exp_zip_code').val("");
                  $('#id_exp_location').val("");
                  $('#id_exp_province').val("");
                  $('#id_exp_country').val("");
                };
            });
            

        });
    </script>
{% endblock %}



