{% extends "layout.html" %}
{% load cms_extras %}

{% block title %} - Diventa socio {% endblock %}

{% block content %}
<p>
    Come lavora chi governa il mio paese? Come faccio a seguirlo? Come posso contribuire al suo lavoro? Come posso cambiare le cose che non vanno? 
    Quante volte ti sei fatto queste domande e quante hai rimandato le risposte. E quanto è aumentata la distanza dalle istituzioni, il malessere, il disagio.
    È arrivato il momento di riprenderci ciò che ci appartiene: i dati innanzitutto. Le informazioni pubbliche che devono essere a disposizione di tutti, in condizione di eguaglianza. E poi costruirci intorno, insieme, un’informazione costante, trasparente e partecipata da tutti. Un progetto, questo, che può vivere solo con l'iniziativa diffusa e l'azione diretta di tante persone, dentro e fuori le istituzioni, le amministrazioni, i partiti, le associazioni.
    Abbiamo qualcosa di importante da fare. Manchi solo tu.
</p>

<h1>Associati ad Openpolis</h1>
<p>
    Scegli di sostenere progetti utili, indipendenti e partecipati, un osservatorio costante e imparziale della politica italiana, una grande operazione di trasparenza. Scegli di appartenere ad un’associazione di italiani di ogni orientamento politico e culturale che ha a cuore il futuro del paese. 
    La tessera vale un anno e ti da accesso ai servizi personalizzati di monitoraggio parlamentare. Ma vale molto di più, è un atto di impegno e passione politica.
</p>

<section id="subscribe">
    
    <h2>Cittadini</h2>
    
    <table class="table span6">
      <caption class="small">Persone che fanno domanda di iscrizione come privati</caption>
      <tr><th>Socio ordinario</th><td>da 50 euro l'anno</td></tr>
      <tr><th>Socio studente/precario</th><td>da 20 euro l'anno</td></tr>
      <tr><th>Socio sostenitore</th><td>da 500 euro l'anno</td></tr>
      <tr><th></th><td><a href="{% url subscribe-module member_type='cittadino' %}" class="button-forward">Vai al modulo<br /> di adesione</a></td></tr>
    </table>
    
    <h2>Organizzazione</h2>
    
    <table class="table span6">
      <caption>Persona giuridica (associazione, azienda, ente, eccetera) privata o pubblica</caption>
      <tr><th>Socio ordinario</th><td>da 50 euro l'anno</td></tr>
      <tr><th>Socio sostenitore</th><td>da 500 euro l'anno</td></tr>
      <tr><th></th><td><a href="{% url subscribe-module member_type='organizzazione' %}" class="button-forward">Vai al modulo<br /> di adesione</a></td></tr>
    </table>
    
    <h2>Politici eletti</h2>
    
    <table class="table span6">
      <caption>Persona fisica che al momento dell'iscrizione ricopre un incarico politico-amministrativo (Parlamento Europeo 
      Parlamento, Regioni, Province, Comuni) e che si impegna alla trasparenza fornendo a Openpolis 
      la dichiarazione dei redditi e le spese elettorali da pubblicare online senza limitazioni.</caption>
      <tr><th>Socio ordinario</th><td>da 50 euro l'anno</td></tr>
      <tr><th>Socio sostenitore</th><td>da 500 euro l'anno</td></tr>
      <tr><th></th><td><a href="{% url subscribe-module member_type='politico' %}" class="button-forward">Vai al modulo<br /> di adesione</a></td></tr>
    </table>
    
</section>


{% endblock %}

{% block sidebar %}
{% endblock %}

{% block payoff %}
<section id="extra" class="sostienici">
  <div class="container">
      <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li class="first">Sostienici</li><span class="divider">/</span>
                <li>Associati</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <img src="/static/img/payoff/slogan_cittadino_consapevole.png" />
        </div>
      </div>
  </div>
</section>
{% endblock %}

{% block js_footer %}
    {{ block.super }}
    <script>
    $(function() {
        $( ".popoverable" ).popover({
            placement: "left",
        });
    });
    </script>
{% endblock %}
