{% extends "subscribe/associate_form.html" %}

{% block associate_extra %}


<fieldset>
  <legend>Dati dell'organizzazione</legend>

  <div class="control-group {% if associate_form.denomination.errors %}error{% endif %}">
    <label for="id_{{ associate_form.denomination.html_name }}">*{{ associate_form.denomination.label }}</label>
    {{ associate_form.denomination }}
    <span class="help-inline">
      {% if associate_form.denomination.errors %}
        {% for error in associate_form.denomination.errors %}
            {{ error|escape }}
        {% endfor %}
      {% endif %}
    </span>
  </div>
  

  <div class="control-group {% if associate_form.type_of_organization.errors %}error{% endif %}">
    <label for="id_{{ associate_form.type_of_organization.html_name }}">*{{ associate_form.type_of_organization.label }}</label>
    {{ associate_form.type_of_organization }}
    <span class="help-inline">
      {% if associate_form.type_of_organization.errors %}
        {% for error in associate_form.type_of_organization.errors %}
            {{ error|escape }}
        {% endfor %}
      {% endif %}
    </span>
  </div>

  <div class="control-group {% if associate_form.vat_code.errors %}error{% endif %}">
    <label for="id_{{ associate_form.vat_code.html_name }}">*{{ associate_form.vat_code.label }}</label>
    {{ associate_form.vat_code }}
    <span class="help-inline">
      {% if associate_form.vat_code.errors %}
        {% for error in associate_form.vat_code.errors %}
            {{ error|escape }}
        {% endfor %}
      {% else %}
        {{associate_form.vat_code.help_text}}
      {% endif %}
    </span>
  </div>
  
</fieldset>

{% endblock %}

{% block associate_details_title %}Dati personali del rappresentante legale{% endblock %}
{% block main_address_title %}Indirizzo (sede legale){% endblock%}