{% extends "layout.html" %}

{% block content %}

	<h1>La quota associativa</h1>
	
	<p>
		{{ associate_name|capfirst }}, grazie. Ora poi versare la quota associativa di <strong>{{ associate_fee }} euro</strong>
		<br />
		C'è ancora un passo da fare e riguarda il metodo di pagamento.
		<br />
		Puoi scegliere tra il bonifico bancario e Paypal/carta di credito.
	</p>
	
	<aside class="orange">
		<h2>Bonifico bancario</h2>
		<small>(metodo preferito perché senza commissioni)</small>
		
		<blockquote>
			Associazione Openpolis<br /> 
			Banca Popolare Etica scarl<br />
			IT47 C050 1803 2000 0000 0131 034
		</blockquote>
		
	</aside>
	
	<aside class="orange">
		<h2>Carta di credito o Paypal</h2>
		<small>Paga la quota associativa tramite il tuo conto Paypal o carta di credito</small>
		
		PAGA ADESSO
	</aside>

{% endblock %}

{% block css_styles %}
<style type="text/css">
	article aside blockquote { font-family: Arial; font-size:1.3em; font-weight:bold; }
	
	article aside.orange {
		background-color: #fcf7c8;
		margin: 15px 0;
		padding: 5px 10px;
	}
</style>
{% endblock %}