{% extends "layout.html" %}

{% block content %}
{% url subscribe-renewal user_hash=associate.hash_key as renewal_url %}
    <div class="yellow">
        <h1>Rinnova l'associazione ad Openpolis</h1>
            
        <p>
            Ciao {{ associate.first_name|capfirst }}, 
            <br />
            ci richiedi il rinnovo dell’associazione ad Openpolis fino al <strong>{{ next_expire|date:'d F Y' }}</strong>
            <br />
            come socio ordinario. La quota da versare è di {{ last_membership.fee }} euro.
        </p>
        
        <form action="{{ renewal_url }}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{ form.type_of_membership.html_name }}" value="{{ form.type_of_membership.value }}" />
            <input type="hidden" name="{{ form.fee.html_name }}" value="{{ form.fee.value|safe }}" />
            <input type="hidden" name="{{ form.public_subscription.html_name }}" value="{{ form.public_subscription.value }}" />
            <button type="submit" class="btn btn-primary">Conferma</button>
        </form>
        
    </div>
    <div style="padding: 1em;">

      <fieldset>

        <legend>Oppure modifica il tipo di iscrizione</legend>

        <label>{{ form.type_of_membership.label_tag }}</label>
        {{ form.type_of_membership }}
        <span class="help-inline">Scegli una nuova tipologia di associazione per modificare la tua iscrizione.</span>

        <div class="control-group {% if form.fee.errors %}error{% endif %}">
          <label for="id_{{ form.fee.html_name }}">*{{ form.fee.label }}</label>
          {{ form.fee }}
          <span class="help-inline">
            {% if form.fee.errors %}
              {% for error in form.fee.errors %}
                  {{ error|escape }}
              {% endfor %}
            {% else %}
              {{form.fee.help_text}}
            {% endif %}
          </span>
        </div>

        <label class="checkbox" for="id_{{ form.public_subscription.html_name}}">
          {{ form.public_subscription }}
          {{ form.public_subscription.help_text }}
        </label>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Invia</button>

        </div>

      </fieldset>


        </form>
        
        
    </div>

{% endblock %}
