{% extends "layout.html" %}

{% block title %} - Richiesta rinnovo associazione {% endblock %}

{% block content %}

    <div class="yellow">
        <h1>Rinnova l'associazione a Openpolis</h1>
        
        {% if associate %}

        <div class="alert alert-success">
          <strong>Bene!</strong>
          Ti abbiamo inviato una email contenente l'indirizzo per poter rinnovare l'associazione ad Openpolis.
        </div>
        
        {% else %}
        
        <form action="{% url subscribe-renewal-request %}" method="POST" id="renewal_request_form">
            {% csrf_token %}
            <div class="control-group {% if form.email.errors %}error{% endif %}">
              <div class="input-prepend">
                <span class="add-on">@</span>
                {{ form.email }}
                <button type="submit" id="submit_button" class="btn btn-primary" style="margin-top: -8px">Invia</button>
              </div>
              <span class="help-inline">
                {% if form.email.errors %}
                  {% for error in form.email.errors %}
                      {{ error|escape }}
                  {% endfor %}
                {% else %}
                  {% if form.email.value == None %}
                    {{ form.email.help_text }}
                  {% endif %}
                {% endif %}
              </span>
            </div>
            <br/>
            <small>Una volta inviato il modulo riceverai una email con il collegamento per effettuare il rinnovo</small>
            <br /><br />
            
        </form>
        
        {% endif %}
    </div>

{% endblock %}

{% block fblike %}{% endblock %}

