<p>
Ciao <strong>{{ associate.first_name|lower|capfirst }}</strong>,<br/>

intanto grazie. Se siamo diventati una fonte indipendente d'informazione politica e siamo riusciti a completare i progetti sulla trasparenza facendovi partecipare migliaia di utenti, &egrave; anche merito tuo. Abbiamo stabilito un canale di comunicazione con i nostri politici, che abbiamo coinvolto nella campagna sui patrimoni trasparenti e nella costruzione dell'indice di produttivit&agrave;, su cui &egrave; strutturato Camere Aperte, un'opera vissuta con grande interesse e coinvolgimento dai soci come te, dai sostenitori della comunit&agrave; web di OpenCorato, da cittadini appassionati, arrabbiati, impegnati, critici.<br/>
<br/>
Un buon inizio, insomma, con tanto ancora da fare per diffondere pratiche di trasparenza nella politica e nelle amministrazioni italiane, continuando con il metodo che ci siamo dati e quindi ad essere seri, scrupolosi e sopratutto indipendenti.
Siamo qui per chiederti una mano ancora una volta, ma prima vediamo cosa possiamo fare assieme:

<ul>
<li>Vogliamo costruire una piattaforma web per cause, petizioni e class-action, basata su un canale di comunicazione certificata con chi decide, per risparmiare le energie dei media sociali: identifichiamo i richiedenti, certifichiamo il consenso, tracciamo la comunicazione coi decisori.</li>

<li>Vogliamo &ldquo;dislocare&rdquo; Open Parlamento nei comuni italiani e rendere comprensibile il lavoro e il contesto delle amministrazioni locali con il progetto Open Municipio, a cui hanno già aderito i comuni di Senigallia e Udine. Che ne diresti del tuo comune di appartenenza?</li>

<li>Vogliamo rendere trasparenti i bilanci dei comuni italiani, guardarci dentro e seguire il denaro per capire in che direzione vanno le decisioni politiche (Falcone lo diceva anche per le indagini di mafia). Riusciremo anche a confrontare l'efficacia della gestione con lo storico degli ultimi dieci anni.</li>

<li>Vogliamo continuare ad essere un osservatorio civico della politica, indipendente e autorevole per esercitare una pressione costante sulle istituzioni e i singoli politici affinch&eacute; adottino le regole della trasparenza.</li>

<li>Vogliamo ampliare e rendere sempre pi&ugrave; utili le nostre piattaforme web: Open Ricostruzione, Open Bilanci e Open Municipio e generare ancora pi&ugrave; partecipazione.</li>
</ul>

Siamo convinti che in tanti possiamo essere efficaci. E se siamo capaci di garantire la nostra autonomia economica attraverso i contributi che soci e donatori ci riconoscono senza condizioni, se siamo capaci di convincere un numero sufficiente di persone della necessit&agrave; di OpenCorato, allora possiamo dire di essere credibili e quindi sostenibili. 
&Egrave; ancora questo il punto di arrivo di un sentiero difficile ma luminoso che sogniamo di percorrere in compagnia di migliaia di persone come te, di ogni orientamento politico e culturale con cui condividere la priorit&agrave; di un'informazione politica imparziale, indipendente e basata su dati ufficiali. E per fare tutto questo abbiamo bisogno di te, ancora una volta.
</p>

<p>
Resta qui, {{ associate.first_name|lower|capfirst }}.<br/>
Clicca qui sotto per rinnovare l'iscrizione a OpenCorato.
<h3><a href="http://{{current_site.domain}}{{ renewal_url }}">http://{{current_site.domain}}{{ renewal_url }}</a></h3>
</p>

<p>
E ancora grazie,<br/>
L'Associazione OpenCorato
</p>

--
<br/>
Associazione OpenCorato OdV<br/>
Via Verdi 41 - 70033 Corato BA<br/>
Tel.: +080 000 0000<br/>
http://associazione.opencorato.org<br/>

<br/>
Openpolis. Fatti di trasparenza.<br/>
http://openpolitici.it | http://openparlamento.it | http://voisietequi.it <br/>

