<p>
Ciao <strong>{{ associate.first_name|lower|capfirst }}</strong>,<br/>
la tua iscrizione all'Associazione Openpolis è scaduta.</p>

<p>
Sei ancora in tempo per rinnovarla, abbiamo sempre bisogno di te!<br/>
Ti basta fare un click qui sotto:
<h3><a href="http://{{current_site.domain}}{{ renewal_url }}">http://{{current_site.domain}}{{ renewal_url }}</a></h3>
</p>

<p>
Grazie,<br/>
L'Associazione Openpolis
</p>

--
<br/>
Associazione Openpolis<br/>
via degli Equi 42 - 00185 Roma<br/>
Tel.: +39.06.83608392<br/>
http://associazione.openpolis.it<br/>

<br/>
Openpolis. Fatti di trasparenza.<br/>
http://openpolitici.it | http://openparlamento.it | http://voisietequi.it <br/>

