<p>
Ciao <strong>{{ associate.first_name|lower|capfirst }}</strong>,<br/>
la tua iscrizione all'Associazione OpenCorato è scaduta.</p>

<p>
Sei ancora in tempo per rinnovarla, abbiamo sempre bisogno di te!<br/>
Ti basta fare un click qui sotto:
<h3><a href="http://{{current_site.domain}}{{ renewal_url }}">http://{{current_site.domain}}{{ renewal_url }}</a></h3>
</p>

<p>
Grazie,<br/>
L'Associazione OpenCorato
</p>

--
<br/>
Associazione OpenCorato OdV<br/>
Via Verdi 41 - 70033 Corato BA<br/>
Tel.: +080 000 0000<br/>
http://associazione.opencorato.org<br/>

<br/>
OpenCorato. Fatti di trasparenza.<br/>
http://openpolitici.it | http://openparlamento.it | http://voisietequi.it <br/>

