<p>
Ciao <strong>{{ associate.first_name|lower|capfirst }}</strong>,<br/>

abbiamo ricevuto, in collegamento a questo indirizzo di posta elettronica, 
una richiesta di rinnovo per l'iscrizione all'Associazione Openpolis.
</p>

<p>
Per confermare che la richiesta di rinnovo proviene da te, clicca qui sotto.
<h3><a href="http://{{current_site.domain}}{{ renewal_url }}">http://{{current_site.domain}}{{ renewal_url }}</a></h3>
</p>

<p>
Grazie,<br/>
L'Associazione Openpolis
</p>

--
<br/>
Associazione Openpolis<br/>
Via Dei Sabelli 215 - 00185 Roma<br/>
Tel.: +39.06.83608392<br/>
http://associazione.openpolis.it<br/>

<br/>
Openpolis. Fatti di trasparenza.<br/>
http://openpolitici.it | http://openparlamento.it | http://voisietequi.it <br/>

