Ciao, <strong>{{membership.associate.first_name|lower|capfirst}}</strong>,<br/>

{% if request_type == 'renew' %}
siamo molto felici di averti ancora tra noi e speriamo di poter fare assieme tutto quello che ci siamo proposti.<br/>  
{% else %}
questa e' innanzitutto un'email di benvenuto.<br/>
Siamo molto felici di averti tra noi e speriamo di poter fare assieme tutto quello che ci siamo proposti.<br/>
{% endif %}
<br/>
Nel caso non avessi ancora versato la tua quota associativa di {{membership.fee}} euro,<br/>
ti ricordiamo che puoi fare un bonifico usando queste coordinate:<br/>
  Associazione Openpolis<br/>
  BANCA POPOLARE ETICA SCARL<br/>
  IBAN: IT47 C050 1803 2000 0000 0131 034<br/>
  CAUSALE: VERSAMENTO QUOTA DI ISCRIZIONE ANNUALE<br/>
<br/>
oppure usare la carta di credito o paypal:<br/>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=v.alvino@openpolis.it&item_name=QUOTA+ISCRIZIONE+ANNUALE+ALL'ASSOCIAZIONE+OPENPOLIS&amount={{membership.fee}}&currency_code=EUR&lc=IT&no_shipping=1&return=http://www.openpolis.it"><strong>Versa ora la quota associativa con carta di credito</strong></a><br/>
<br/>
Attiveremo la tua iscrizione non appena verificati i dati e gli estremi del pagamento.<br/>
{% if request_type == 'renew' %}
Riceverai un’email con la conferma dell'attivazione e successivamente tessera e gadget.<br/>
{% endif %}
<br/>
Grazie di cuore.<br/>
L'associazione Openpolis<br/>
<br/>
--
<br/>
Associazione Openpolis<br/>
via degli Equi 42 - 00185 Roma<br/>
Tel.: +39.06.83608392<br/>
http://associazione.openpolis.it<br/>

<br/>
Openpolis. Fatti di trasparenza.<br/>
http://openpolitici.it | http://openparlamento.it | http://voisietequi.it <br/>

