Ciao, <strong>{{membership.associate.first_name|lower|capfirst}}</strong>,<br/>
la tua richiesta di iscrizione all'Associazione Openpolis &egrave; stata accettata.<br/>
<br/>
Tra qualche giorno riceverai la tessera dell’associazione e un piccolo gadget per portarci sempre con te.
L'iscrizione dura un anno solare.<br/>
<br/>
Siamo molto felici di averti tra noi e speriamo di poter fare assieme tutto quello che ci siamo proposti.<br/>
<br/>
<br/>
--
<br/>
Associazione Openpolis<br/>
Via Dei Sabelli 215 - 00185 Roma<br/>
Tel.: +39.06.83608392<br/>
http://associazione.openpolis.it<br/>
<br/>
<br/>
Openpolis. Fatti di trasparenza.<br/>
http://openpolitici.it | http://openparlamento.it | http://voisietequi.it <br/>

